<div
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutAlign.lt-sm="start center"
  fxLayoutGap="20px"
  fxLayoutGap.lt-md="11px"
  fxLayoutGap.md="10px"
>
  <mat-card
    *ngFor="let fundraiser of fundraisers"
    [routerLink]="['/fundraiser-detail', fundraiser._id]"
    fxFlex.lt-md="47"
    fxFlex.lt-sm="90"
    fxFlex.gt-sm="31"
  >
    <div class="mat-image-container">
      <img
        [src]="fundraiser.image"
        onerror="this.src='./assets/images/placeholder.png'"
      />
    </div>
    <mat-card-content
      fxLayout="column"
      fxLayoutAlign="start start"
      [ngStyle.xs]="{ height: '130px' }"
    >
      <strong>{{ fundraiser.title }}</strong>
      <span
        *ngIf="(fundraiser?.donations)!.length > 0"
        class="color-gray text-small"
      >
        Last donation {{ (fundraiser?.donations)![0].date | timeago }}
      </span>
      <mat-progress-bar
        mode="determinate"
        [value]="getPercentage(fundraiser)"
        color="primary"
      >
      </mat-progress-bar>
      <p>
        <strong>{{ getTotalRaised(fundraiser) | currency: "ETB" }}</strong>
        raised of
        {{ fundraiser.goalAmount | currency: "ETB" }}
      </p>
    </mat-card-content>
  </mat-card>

  <div fxFlexAlign="center" *ngIf="hasNext" (click)="nextPage()">
    <div *ngIf="loading">
      <mat-progress-spinner
        mode="indeterminate"
        [value]="80"
        color="primary"
        class="loading-spinner"
      >
      </mat-progress-spinner>
    </div>
    <a *ngIf="!loading">See more</a>
  </div>
</div>
