<div
  fxLayout="column"
  fxFlex="86"
  [ngStyle]="{ margin: '20px auto' }"
  fxFlex.xs="98"
  [ngStyle.xs]="{ margin: '20px auto' }"
  fxLayoutGap="10px"
>
  <header>
    <h1 fxHide.xs class="bold">Mohammed medication costs</h1>
  </header>
  <div fxLayout="row" fxLayoutAlign="space-around start" fxFlex.md="98">
    <div
      fxLayout="column"
      fxLayoutGap="20px"
      fxLayoutAlign="start end"
      fxFlex="66"
      [ngStyle]="{ 'padding-right': '20px' }"
      fxFlex.lt-md="100"
    >
      <!-- TITLE AND IMAGE -->
      <div>
        <img
          class="fundriser-img"
          src="/assets/images/step2.jpg"
          alt="fundriser image"
        />
      </div>

      <div fxHide.md fxLayout.xs="column">
        <h1 class="bold">Mohammed medication costs</h1>
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="2px"
          style="margin-bottom: -15px"
        >
          <h2>
            <!-- TODO put the goal of the fundriser with currency pipe -->
            <span class="bold">$100,000 </span>
            <sub class="text-small color-gray">raised of $90,000 goal</sub>
          </h2>
        </div>
        <mat-progress-bar color="primary" value="50"> </mat-progress-bar>
        <div fxLayout="row" fxLayoutGap="30px" style="margin: 10px 0px">
          <a fxLayout="column" (click)="allDonations()">
            <span class="bold">8.7k</span><mat-hint>donors</mat-hint>
          </a>

          <span fxLayout="column">
            <span class="bold">7.9k</span> <mat-hint>shares</mat-hint>
          </span>
          <span fxLayout="column">
            <span class="bold">1.2k</span> <mat-hint>followers</mat-hint>
          </span>
        </div>
        <div
          fxLayout="row wrap"
          fxLayoutAlign="space-between center"
          style="position: sticky; top: 0"
        >
          <button
            fxFlex="40"
            mat-raised-button
            (click)="share()"
            class="styled-button share btn-small"
          >
            <mat-icon>ios_share</mat-icon> Share
          </button>
          <button
            fxFlex="40"
            mat-raised-button
            (click)="donate()"
            class="styled-button donate btn-small"
          >
            <mat-icon>attach_money</mat-icon> Donate now
          </button>
        </div>
      </div>

      <!-- Fundriser info -->
      <div
        fxLayout="column"
        fxLayoutAlign="space-around start"
        fxLayoutGap="20px"
        fxFlex="90"
        fxFlex.lt-md="98"
      >
        <div>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <!-- organiser image or icon -->
            <img matCardAvatar src="/assets/images/step2.jpg" />
            <!-- <mat-icon color="primary"> volunteer_activism </mat-icon> -->
            <p>Getachew babalaba is organizing this fundriser</p>
          </div>
          <mat-divider></mat-divider>
        </div>
        <div>
          <p>Created 7 days ago | <a href="">Rent, Food & Monthly Bills</a></p>
          <mat-divider></mat-divider>
        </div>

        <!-- story section -->
        <section>
          <p>
            <strong>We are family of Muhamudde Hamede</strong>
          </p>
          <!-- TODO apply custom pipe here -->
          <p>{{ story }}</p>
        </section>

        <div *ngIf="true" fxLayout="column" fxLayoutGap="10px" fxHide.md>
          <div></div>
          <div
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="20px"
            class="color-purple"
          >
            <mat-icon class="mat-18 bg-purple-avatar">trending_up</mat-icon>
            <strong>272 people just donated</strong>
          </div>

          <div>
            <mat-divider> </mat-divider>
          </div>
          <div fxLayout="column" fxLayoutGap="10px">
            <div fxLayout="row" fxLayoutGap="20px">
              <img
                src="https://www.gofundme.com/static/media/DefaultAvatar.4bb188e1d41df75419450a820a958679.svg"
              />
              <div fxLayout="column">
                <span>Recent Donor</span>
                <div fxLayout="row" fxLayoutGap="20px">
                  <strong>$25</strong>
                  <a href="">Recent donation </a>
                </div>
              </div>
            </div>
            <mat-divider> </mat-divider>
          </div>
          <div fxLayout="column" fxLayoutGap="10px">
            <div fxLayout="row" fxLayoutGap="20px">
              <img
                src="https://www.gofundme.com/static/media/DefaultAvatar.4bb188e1d41df75419450a820a958679.svg"
              />
              <div fxLayout="column">
                <span>Top Donor</span>
                <div fxLayout="row" fxLayoutGap="20px">
                  <strong>$25</strong>
                  <a href="">Top donation </a>
                </div>
              </div>
            </div>
            <mat-divider> </mat-divider>
          </div>
          <div fxLayout="row" fxLayoutGap="20px">
            <img
              src="https://www.gofundme.com/static/media/DefaultAvatar.4bb188e1d41df75419450a820a958679.svg"
            />
            <div fxLayout="column">
              <span>First Donor</span>
              <div fxLayout="row" fxLayoutGap="20px">
                <strong>$25</strong>
                <a href="">First donation </a>
              </div>
            </div>
          </div>

          <div fxLayout="row wrap" fxLayoutAlign="space-between start">
            <button mat-raised-button (click)="allDonations()" color="primary">
              See all
            </button>
            <button mat-stroked-button (click)="topDonations()" color="primary">
              <mat-icon class="mat-18"> favorite_border </mat-icon>
              See top donations
            </button>
          </div>
        </div>

        <div>
          <div>
            <h2 class="bold">Updates</h2>
            <mat-divider></mat-divider>
          </div>
          <p>
            <Strong>July 6, 2021</Strong>
            <span class="text-small color-gray">
              by Organiser name, Organizer</span
            >
          </p>
          <p>{{ update_text }}</p>
          <a href="">See older updates</a>
        </div>
        <div
          fxLayout="row wrap"
          fxLayoutAlign="space-between center"
          style="position: sticky; top: 0"
        >
          <button
            fxFlex="40"
            mat-raised-button
            (click)="share()"
            class="styled-button share btn-small"
          >
            <mat-icon>ios_share</mat-icon> Share
          </button>
          <button
            fxFlex="40"
            mat-raised-button
            (click)="donate()"
            class="styled-button donate btn-small"
          >
            <mat-icon>attach_money</mat-icon> Donate now
          </button>
        </div>

        <!-- Fudrising team section -->
        <div fxLayout="column" fxLayoutGap="20px">
          <div>
            <h2 class="bold">Fundrising team: Team Teamname(3)</h2>
            <div>
              <mat-divider></mat-divider>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="space-around center">
            <div
              fxLayout="row"
              fxLayoutAlign="start start"
              fxLayoutGap="20px"
              style="width: fit-content"
            >
              <img matCardAvatar src="/assets/images/step2.jpg" />
              <div fxLayout="column" style="width: fit-content">
                <span class="bold">Ikraam Os</span>
                <span>Organizer</span>
                <span>Atlanta, GA</span>
              </div>
            </div>
            <button mat-stroked-button color="primary">Contact</button>
          </div>
          <div>
            <mat-divider></mat-divider>
          </div>

          <div
            fxLayout="row wrap"
            fxLayoutAlign="start center"
            fxLayoutGap="30px"
          >
            <div fxFlex="25" *ngFor="let item of [12, 3, 44, 5]">
              <div fxLayout="row" fxLayoutGap="20px" style="margin: 20px 0px">
                <img
                  src="https://www.gofundme.com/static/media/DefaultAvatar.4bb188e1d41df75419450a820a958679.svg"
                />
                <div fxLayout="column">
                  <span class="bold">Team Membername</span>
                  <span class="text-small">team member</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of fundrising team section -->

        <!-- Organiser and beneficiary section -->
        <!-- this will be shown if there is no fundrising team -->
        <div>
          <div>
            <h2 class="bold">Organizer and beneficiary</h2>
            <mat-divider> </mat-divider>
          </div>
          <div
            fxLayout="row"
            fxLayout.xs="column"
            fxLayoutAlign="space-between start"
            fxLayoutAlign.xs="space-between start"
            style="margin: 20px 0px"
          >
            <div
              fxLayout="row"
              fxLayoutAlign="start start"
              fxLayoutGap="20px"
              style="width: fit-content"
            >
              <img matCardAvatar src="/assets/images/step2.jpg" />
              <div fxLayout="column" style="width: fit-content">
                <span>Ikraam Os</span>
                <span>Organizer</span>
                <span>Atlanta, GA</span>
                <button mat-stroked-button color="primary">Contact</button>
              </div>
            </div>
            <mat-icon fxHide.xs> arrow_forward </mat-icon>
            <!-- <mat-icon fxShow.xs> arrow_downward </mat-icon> -->
            <div
              fxLayout="row"
              fxLayoutAlign="start start"
              fxLayoutGap="20px"
              style="width: fit-content"
            >
              <mat-icon color="primary">volunteer_activism</mat-icon>
              <div fxLayout="column">
                <span>Beneficiary Name</span>
                <span>Beneficiary</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of organizer and beneficiary -->

      <!-- Comment section -->
      <div>
        <h2 class="bold">Comments(135)</h2>
        <div>
          <mat-divider></mat-divider>
        </div>
        <div *ngFor="let item of [1, 2, 3, 4]; let last=last;">
          <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px" style="margin: 20px 0px">
            <img
              src="https://www.gofundme.com/static/media/DefaultAvatar.4bb188e1d41df75419450a820a958679.svg"
            />
            <div fxLayout="column">
              <span class="bold">Donor Name donated <strong>$30</strong></span>
              <p>
                Dear Katie I’m so sad to hear about your diagnose and wish you
                all the best and hope you can fight this terrible disease. I
                don’t know you at all, and we have never been in contact. but I
                have been looping for half a year now, and I’m <a>Read more</a>
              </p>
            </div>
          </div>
          <button *ngIf="last" mat-stroked-button color="primary" class="btn-outline">Show more</button>
          <div>
            <mat-divider></mat-divider>
          </div>
        </div>
      </div>
      <!--End of Comment section -->

      <!-- Card on the right side -->
      <mat-card fxHide.lt-md>
        <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="8px">
          <div>
            <div
              fxLayout="row"
              fxLayoutAlign="start center"
              fxLayoutGap="2px"
              style="margin-bottom: -15px"
            >
              <h2>
                <!-- TODO put the goal of the fundriser with currency pipe -->
                <span class="bold">$100,000 </span>
                <sub class="text-small color-gray">raised of $90,000 goal</sub>
              </h2>
            </div>
            <mat-progress-bar color="primary" value="50"> </mat-progress-bar>
            <div fxLayout="row" fxLayoutGap="30px" style="margin: 10px 0px">
              <a fxLayout="column" href="">
                <span class="bold">8743</span><mat-hint>donors</mat-hint>
              </a>

              <div fxLayout="column">
                <span class="bold">7309</span> <mat-hint>shares</mat-hint>
              </div>
              <div fxLayout="column">
                <span class="bold">7309</span> <mat-hint>followers</mat-hint>
              </div>
            </div>
          </div>
          <button
            mat-raised-button
            (click)="share()"
            class="styled-button share btn-large"
          >
            <mat-icon>ios_share</mat-icon> Share
          </button>
          <button
            mat-raised-button
            (click)="donate()"
            class="styled-button donate btn-large"
          >
            <mat-icon>attach_money</mat-icon> Donate now
          </button>

          <!-- Show this div if donations have made to this fundriser -->
          <div *ngIf="true" fxLayout="column" fxLayoutGap="20px">
            <div></div>
            <div fxLayout="column" fxLayoutGap="10px">
              <div fxLayout="row" fxLayoutGap="20px">
                <mat-icon class="mat-18 bg-purple-avatar">trending_up</mat-icon>
                <strong>272 people just donated</strong>
              </div>
              <div>
                <mat-divider> </mat-divider>
              </div>
            </div>
            <div fxLayout="column" fxLayoutGap="10px">
              <div fxLayout="row" fxLayoutGap="20px">
                <img
                  src="https://www.gofundme.com/static/media/DefaultAvatar.4bb188e1d41df75419450a820a958679.svg"
                />
                <div fxLayout="column">
                  <span>Recent Donor</span>
                  <div fxLayout="row" fxLayoutGap="20px">
                    <strong>$25</strong>
                    <a href="">Recent donation </a>
                  </div>
                </div>
              </div>
              <div>
                <mat-divider> </mat-divider>
              </div>
            </div>
            <div fxLayout="column" fxLayoutGap="10px">
              <div fxLayout="row" fxLayoutGap="20px">
                <img
                  src="https://www.gofundme.com/static/media/DefaultAvatar.4bb188e1d41df75419450a820a958679.svg"
                />
                <div fxLayout="column">
                  <span>Top Donor</span>
                  <div fxLayout="row" fxLayoutGap="20px">
                    <strong>$25</strong>
                    <a href="">Top donation </a>
                  </div>
                </div>
              </div>
              <div>
                <mat-divider> </mat-divider>
              </div>
            </div>
            <fxLayout fxLayout="row" fxLayoutGap="20px">
              <img
                src="https://www.gofundme.com/static/media/DefaultAvatar.4bb188e1d41df75419450a820a958679.svg"
              />
              <div fxLayout="column">
                <span>First Donor</span>
                <div fxLayout="row" fxLayoutGap="20px">
                  <strong>$25</strong>
                  <a href="">First donation </a>
                </div>
              </div>
            </fxLayout>
            <div fxLayout="row wrap" fxLayoutAlign="space-between start">
              <button
                mat-raised-button
                (click)="allDonations()"
                color="primary"
              >
                See all
              </button>
              <button
                mat-stroked-button
                (click)="topDonations()"
                color="primary"
              >
                <mat-icon class="mat-18"> favorite_border </mat-icon>
                See top donations
              </button>
            </div>
          </div>

          <!-- Show this div on if no donations have made to this fundriser yet -->
          <div *ngIf="false">
            <div fxLayout="row" fxLayoutGap="20px">
              <mat-icon color="primary"> volunteer_activism </mat-icon>
              <p>Become the first supporter Your donation matters</p>
            </div>
            <p></p>
            <p><mat-divider></mat-divider></p>
            <p></p>

            <h3 class="bold">GoFundMe Guarantee</h3>
            <p style="text-align: justify">
              In the rare case something isn’t right, we will work with you to
              determine if misuse occurred.
            </p>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
