<div mat-dialog-title>
  <h4 matDialogTitle style="display: inline">{{"Add team members"|translate}}</h4>
  <span mat-dialog-close class="close-dialog">X</span>
</div>
<mat-divider></mat-divider>
<mat-dialog-content>
  <!-- <h1>Search by email</h1> -->
  <form [formGroup]="form" (ngSubmit)="addEmail()">
    <mat-form-field appearance="outline">
      <input
        matInput
        formControlName="email"
        type="link"
        [placeholder]="'Search by email'|translate"
      />
      <!-- <span matPrefix><mat-icon>search</mat-icon></span> -->
      <mat-error *ngIf="email?.touched && email?.errors?.required"
        >{{"Please enter email of the invitee"|translate}}
      </mat-error>
      <mat-error *ngIf="email?.touched && email?.errors?.email"
        >{{"Please enter valid email"| translate}}
      </mat-error>
      <!-- <mat-error *ngIf="email?.touched && email?.errors?.minlength"
        >Email should be {{ email?.errors?.minlength.requiredLength }}
      </mat-error> -->
    </mat-form-field>
    <!-- <mat-list dense>
      <mat-list-item
        *ngIf="emailInput.value.trim()"
        style="margin-bottom: 10px"
      >
        <a routerLink="item.link"
          ><mat-icon style="margin-right: 20px"> email </mat-icon>
          <div style="display: inline-block">
            <p class="bold" style="margin-bottom: -3px">
              {{ emailInput.value }}
            </p>
            <p style="color: #999 !important">{{ emailInput.value }}</p>
          </div></a
        >
        <mat-checkbox
          value="{{ emailInput.value }}"
          #current
          color="primary"
          (checked)="(current.value === emailInput.value)"
          style="margin-left: auto"
        ></mat-checkbox>
        <mat-divider></mat-divider>
      </mat-list-item>
      <mat-list-item *ngFor="let email of emails" style="margin-bottom: 10px">
        <a routerLink="item.link"
          ><mat-icon style="margin-right: 20px"> email </mat-icon>
          <div style="display: inline-block">
            <p class="bold" style="margin-bottom: -3px">{{ email }}</p>
            <p style="color: #999 !important">{{ email }}</p>
          </div></a
        >
        <mat-checkbox
          [checked]="true"
          value="{{ email }}"
          #current
          color="primary"
          (change)="removeEmail(current.value)"
          style="margin-left: auto"
        ></mat-checkbox>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list> -->
    <p>
      <a (click)="openImportContactsDialog()"> {{"Import your email contacts"| translate}}</a>
    </p>
    <mat-progress-bar *ngIf="loading" mode="indeterminate" [value]="100" color="primary"></mat-progress-bar>
    <mat-error *ngIf="errorMessage"> {{ errorMessage }} </mat-error>
    <p>
      <button
        [disabled]="form.invalid || loading"
        mat-raised-button
        color="primary"
        class="btn-large"
      >
        {{"Add member"| translate}}
      </button>
    </p>
  </form>
</mat-dialog-content>
