<form [formGroup]="form">
  <p data-cy="intro-message">
    {{
      "A high-quality photo or video will help tell your story and build trust with
    donors."
        | translate
    }}
  </p>

  <ng-container *ngIf="imageSrc === '' && !loading; else elseTemplate">
    <!-- Drag and drop or upload a photo that best represents your fundraiser. -->
    <button id="image-chooser">
      <label data-cy="image-label" for="image" id="image-label">
        <input
          id="image"
          data-cy="image"
          hidden
          type="file"
          accept="image/jpeg,image/png,image/gif, image/bmp"
          formControlName="image"
          (change)="onImageChosen($event)"
        />
        <div data-cy="label-text" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2px">
          <mat-icon>add</mat-icon>
          <p>
            {{
              "upload a photo that best represents your fundraiser" | translate
            }}
          </p>
        </div>
      </label>
    </button>
    <!-- <div class="or-divider">
    <p class="bar"></p>
    <p style="font-weight: 600">or</p>
    <p class="bar"></p>
  </div>
  <p>Add a youtube video link</p>
  <mat-form-field appearance="outline">
    <mat-label>YouTube video link </mat-label>
    <label for="amount">How much would you like to rise?</label>
    <input matInput placeholder="Enter goal amount" link />
    <mat-icon matPrefix>link&nbsp;</mat-icon>
  </mat-form-field> -->
  </ng-container>

  <ng-template #elseTemplate>
    <div
      fxLayout="column"
      fxLayoutAlign="start start"
      fxLayoutGap="0px"
      [ngStyle]="{ width: '96%' }"
    >
      <img
        [src]="imageSrc"
        *ngIf="imageSrc"
        style="height: 300px; width: 100%"
      />
      <div
        fxLayout="row"
        fxLayoutAlign="space-between start"
        fxLayoutGap="20px"
        [ngStyle]="{ width: '94%' }"
      >
        <button
          [disabled]="!form.valid || loading"
          (click)="editImage()"
          mat-icon-button
        >
          <mat-icon>edit</mat-icon>{{ "Edit" | translate }}
        </button>
        <button
          [disabled]="!form.valid || loading"
          mat-icon-button
          color="warn"
          (click)="removeImage()"
        >
          <mat-icon>delete</mat-icon>{{ "Delete" | translate }}
        </button>
      </div>
    </div>

    <button
    data-cy="next-btn"
      mat-raised-button
      [disabled]="(form.touched && !form.valid)|| loading"
      color="primary"
      (click)="nextStep()"
      class="btn-large"
    >
      Next
    </button>
  </ng-template>
</form>
