.table-container{
    margin-top: 0px;
}

.mat-primary.mat-raised-button{
    margin: 0px;
}

mat-cell.mat-cell{
    text-align: center;
    overflow: initial;
    padding: 1px;
    display: block;
}

.table-container{
    margin-top: 0px;
}

.mat-primary.mat-raised-button{
    margin: 0px;
}

mat-cell.mat-cell{
    text-align: center;
    overflow: initial;
    padding: 1px;
}

.top{
    margin:1rem;
}

.reason-required{
    background-color: red;
}