<div>
  <div>
    <h2 class="bold">{{"Updates"| translate}}({{ fundraiser?.updates?.length }})</h2>
    <mat-divider></mat-divider>
  </div>
  <div *ngIf="fundraiser?.updates?.length === 0">
    <h3>{{"No updates to show."| translate}}</h3>
  </div>
  <div *ngFor="let update of fundraiser?.updates; let last = last">
    <p>
      <Strong>{{ update.dateCreated | timeago }}</Strong>
      <span class="text-small color-gray">
        {{"by"| translate}}
        {{
          update.userId?.firstName + " " + update.userId?.lastName | titlecase
        }}, {{ (update.userId?._id===fundraiser?.organizer?._id ? "Organizer":'')| translate }}</span
      >
    </p>
    <p>{{ update.content }}</p>
    <div *ngIf="!last">
      <mat-divider></mat-divider>
    </div>
  </div>
</div>
