<nav class="mat-elevation-z1">
  <nav-bar *ngIf="authService.isLoggedIn()"> </nav-bar>
</nav>
<nav
  class="mat-elevation-z1"
  *ngIf="!authService.isLoggedIn()"
  style="width: 100%"
>
  <mat-toolbar
    *ngIf="!authService.isLoggedIn()"
    [classList]="'bg-white'"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <img class="logo" [routerLink]="['/']" src="/assets/images/icon.svg" />
    <div
      fxHide.lt-sm
      fxLayout="row"
      fxLayoutAlign="end center"
      fxLayoutGap="5px"
    >
      <a mat-button [routerLink]="['/create']" class="nav-link">
        {{ "Start a Campaign" | translate }}
      </a>
      <mat-divider fxShow.gt-xs vertical style="height: 30px"></mat-divider>
      <a mat-button [routerLink]="['/sign-in']" class="nav-link">
        {{ "Log in" | translate }}
      </a>
      <a mat-button (click)="share()" class="styled-button share">
        {{ "Share" | translate }}</a
      >
      <a mat-button [routerLink]="['/create']" class="styled-button donate">
        {{ "Donate" | translate }}
      </a>
    </div>
    <div
      fxHide.gt-xs
      fxLayout="row"
      fxLayoutAlign="end center"
      fxLayoutGap="20px"
    >
      <mat-icon (click)="share()" class="mat-18">ios_share</mat-icon>
      <mat-icon mat-icon-button [matMenuTriggerFor]="menuRef" class="mat-18"
        >menu</mat-icon
      >
    </div>

    <mat-menu #menuRef="matMenu" [overlapTrigger]="false">
      <a mat-menu-item routerLink="/sign-in">{{ "Log in" | translate }}</a>
      <a mat-menu-item routerLink="/create">{{
        "Start a Campaign" | translate
      }}</a>
      <a mat-menu-item (click)="share()"> {{ "Share" | translate }} </a>
      <a mat-menu-item [routerLink]="['/donate', fundraiser?._id]">
        {{ "Donate" | translate }}
      </a>
    </mat-menu>
  </mat-toolbar>
</nav>

<div>
  <main
    fxLayout="column"
    fxLayoutAlign="start center"
    fxFlex.lt-md="94"
    fxFlex="80"
  >
    <div *ngIf="loading">
      <mat-progress-spinner
        mode="indeterminate"
        [value]="percentage"
        color="primary"
        class="loading-spinner"
      >
      </mat-progress-spinner>
    </div>

    <mat-error class="bold" *ngIf="!loading">{{ errorMessage }}</mat-error>

    <div
      *ngIf="!loading && !errorMessage"
      fxLayout="row"
      fxFlex.sm="100"
      fxFlex="86"
      [ngStyle]="{ margin: '20px auto' }"
      fxLayoutAlign="space-around start"
    >
      <div
        fxLayout="column"
        fxLayoutGap="2px"
        fxLayoutAlign="start start"
        fxFlex.sm="56"
        fxFlex.gt-sm="60"
        fxFlex.xs="98"
        [ngStyle.gt-sm]="{ 'padding-right': '20px' }"
      >
        <div
          fxLayout="row wrap"
          fxLayoutAlign="space-between center"
          fxLayoutGap="10px"
        >
          <h1 fxHide.lt-sm class="bold">{{ fundraiser?.title }}</h1>
          <button
            *ngIf="user?.isAdmin"
            (click)="blockFundraiser(fundraiser!)"
            mat-raised-button
            color="warn"
          >
            <mat-icon class="mat-18">block</mat-icon> Block
          </button>
        </div>
        <div>
          <img
            class="fundraiser-img"
            [src]="fundraiser?.image"
            alt="fundraiser image"
            onerror="this.src='/assets/images/placeholder.png'"
          />
        </div>

        <div fxHide.gt-xs fxLayout.xs="column">
          <h1 class="bold">{{ fundraiser?.title }}</h1>
          <app-stat
            fxHide.gt-xs
            [fundraiser]="fundraiser!"
            [ngStyle]="{ width: '100%' }"
          ></app-stat>
        </div>
        <!-- Fundraiser info -->
        <div
          fxLayout="column"
          fxLayoutAlign="space-around start"
          fxLayoutGap="20px"
          fxFlex="90"
          fxFlex.lt-md="98"
        >
          <div>
            <div
              fxLayout="row"
              fxLayoutAlign="space-between center"
              fxLayoutGap="20px"
            >
              <div
                fxLayout="row"
                fxLayoutAlign="start center"
                fxLayoutGap="20px"
              >
                <div
                  fxLayout="column"
                  fxLayoutAlign="center start"
                  fxLayoutGap="0px"
                >
                  <div
                    *ngIf="hasAcceptedTeamMembers()"
                    fxLayout="row"
                    fxLayoutAlign="start start"
                  >
                    <strong class="team-fund-label">
                      <mat-icon>people</mat-icon>
                      <span>{{ "Team fundraiser" | translate }}</span>
                    </strong>
                  </div>
                  <div
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    fxLayoutGap="2px"
                  >
                    <mat-icon
                      *ngIf="fundraiser?.organizer?.isVerified"
                      color="primary"
                      class="verified-icon"
                      >check</mat-icon
                    >
                    <span>
                      {{
                        fundraiser?.organizer?.firstName +
                          " " +
                          fundraiser?.organizer?.lastName | titlecase
                      }}
                      <span *ngIf="hasAcceptedTeamMembers()">
                        {{ "and" | translate }}
                        {{
                          fundraiserService.getNumberOfAcceptedTeamMembers(
                            fundraiser!
                          )
                        }}
                        <span
                          *ngIf="
                            fundraiserService.getNumberOfAcceptedTeamMembers(
                              fundraiser!
                            ) === 1
                          "
                          >{{ "other" | translate }}</span
                        >
                        <span
                          *ngIf="
                            fundraiserService.getNumberOfAcceptedTeamMembers(
                              fundraiser!
                            ) > 1
                          "
                          >{{ "others" | translate }}</span
                        >
                        {{ "are" | translate }}
                      </span>
                      <span *ngIf="!hasAcceptedTeamMembers()">
                        {{ "is" | translate }}
                      </span>
                      {{ "organizing this fundraiser" | translate }}
                    </span>
                  </div>
                </div>
              </div>
              <button mat-button (click)="openReportDialog()">
                <mat-icon class="mat-18">flag</mat-icon> report
              </button>
            </div>
            <div>
              <mat-divider></mat-divider>
            </div>
          </div>

          <div>
            <p>
              {{ fundraiser?.dateCreated | timeago }} |
              <a href="">{{ fundraiser?.category?.name! | translate }}</a>
            </p>
            <mat-divider></mat-divider>
          </div>

          <!-- story section -->
          <section>
            <div [innerHTML]="fundraiser?.story"></div>
          </section>

          <app-highlight-card
            fxHide.gt-xs
            [fundraiser]="fundraiser!"
            fxFlex="100"
          ></app-highlight-card>

          <!-- Updates section -->
          <app-updates-section [fundraiser]="fundraiser!"></app-updates-section>

          <!-- Fundraising team section -->
          <app-team-and-organizer-section
            [fundraiser]="fundraiser!"
          ></app-team-and-organizer-section>
          <!-- end of fundraising team section -->

          <!-- Organizer and beneficiary section -->
          <app-organizer-and-beneficiary-section
            [fundraiser]="fundraiser!"
          ></app-organizer-and-beneficiary-section>
          <!-- end of organizer and beneficiary -->

          <!-- Comment section -->
          <app-comment-section [fundraiser]="fundraiser!"></app-comment-section>
          <!--End of Comment section -->
        </div>
      </div>

      <!-- Card on the right side -->
      <app-highlight-card
        fxHide.lt-sm
        [fundraiser]="fundraiser!"
        id="rigth-side-card"
        fxFlex.sm="40"
        fxFlex.gt-sm="30"
      ></app-highlight-card>
    </div>
  </main>
</div>
