mat-card.mat-card {
  width: 30%;
  box-shadow: 0 0.3125rem 1rem -0.1875rem rgb(0 0 0 / 20%);
  padding-bottom: 1.5rem;
  position: sticky;
  top: 0;
}

.fundraiser-img {
  width: 100% !important;
  height: 300px !important;
  overflow: hidden;
  background-repeat: no-repeat;
  border-radius: 4px;
}

.styled-button {
  box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
  font-weight: 900;
  border: 1px solid transparent;
  padding: 8px !important;
  font-size: 16px;
  line-height: 1.5px;
}
.donate {
  background: linear-gradient(180deg, #fdb933 35.42%, #f58131 139.58%);
  border-color: #c06828;
}

.share {
  background: linear-gradient(180deg, #ffde9e 50%, #fcb957);
  border-color: B#c5912c;
}

div {
  width: 100%;
}

.color-purple {
  color: #6e3291 !important;
}
.bg-purple-avatar {
  border-radius: 50%;
  padding: 10px;
  background-color: #f0eaf4;
}

p {
  text-align: justify;
}

.team-fund-label {
  color: #c5912c;
  font-weight: 900;
}

mat-icon {
  cursor: pointer;
}

.logo {
  cursor: pointer;
}
main {
  margin: 0px auto;
}
