.fundraiser-img {
  width: 100% !important;
  max-height: 300px;
  background-repeat: no-repeat;
  position: static;
}

div {
  width: 100%;
}

.color-purple {
  color: #6e3291 !important;
}
.bg-purple-avatar {
  border-radius: 50%;
  padding: 10px;
  background-color: #f0eaf4;
}

p {
  text-align: justify;
}

.team-fund-label {
  color: #c5912c;
  font-weight: 900;
}

mat-icon {
  cursor: pointer;
  font-size: 18px;
}

.logo {
  cursor: pointer;
}

main {
  margin: 0px auto;
}

#rigth-side-card {
  position: sticky;
  top: 0;
}

app-team-and-organizer-section,
app-organizer-and-beneficiary-section,
app-comment-section,
app-highlight-card,
app-updates-section {
  width: 100%;
}
