<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <nav>
        <nav-bar></nav-bar>
    </nav>

    <mat-card fxLayout="column" fxLayoutAlign="center center" fxFlex.xs="85" fxFlex.gt-sm="30" fxLayoutGap="5px">
        <mat-card-header>
            <mat-card-title>
                <h1 class="bold">Set up complete</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
            <div>
                <mat-icon color="primary" class="mat-18">check_circle</mat-icon>
            </div>
            <p>Your information has been saved and once withdrawal begins, it will arrive on 2-5 business days to your
                bank.
                you
                will be alerted via email if further verification is required to continue receiving your withdrawals</p>

            <div style="width: 100%">
                <button [routerLink]="['/my-fundraiser/withdrawals',fundId,'overview']" mat-raised-button fxFlex="100"
                    color="primary">
                    Got it
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>