<!-- <nav class="mat-elevation-z2">
  <nav-bar></nav-bar>
</nav> -->
<main fxLayout="column">
  <div
    fxLayout="column"
    fxFlex.gt-xs="80"
    fxFlex.lt-sm="90"
    fxLayoutAlign="start start"
    fxLayoutGap="20px"
    style="margin: 20px auto"
  >
    <h2 class="bold">
      <!-- <mat-icon class="mat-18">notifications_active</mat-icon>  -->
      {{ "Notifications" | translate }}
    </h2>
    <mat-error *ngIf="errorMessage && !loading">{{ errorMessage }}</mat-error>
    <h3 *ngIf="notifications?.length === 0 && !loading">
      {{ "You have no notifications." | translate }}
    </h3>

    <div *ngIf="loading" fxFlexAlign="center">
      <mat-progress-spinner
        mode="indeterminate"
        [value]="100"
        color="primary"
        class="loading-spinner"
      ></mat-progress-spinner>
    </div>
    <div
      *ngFor="let notification of notifications"
      (click)="markAsRead(notification)"
      fxLayout="column"
      class="notification"
      [class.unread]="!notificationService.isRead(notification)"
      [class.read]="notificationService.isRead(notification)"
      fxLayoutAlign="start start"
      fxLayoutGap="0px"
    >
      <h3 class="time">{{ notification.date | timeago }}</h3>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
        <img src="/assets/images/logo.ico" alt="logo" />
        <div>
          <h2 class="bold">{{ notification.title }}</h2>
          <p>
            {{ notification.content }}
          </p>
          <a [routerLink]="['/fundraiser-detail', notification.target]">{{
            "See fundraiser" | translate
          }}</a>
          <!-- <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error> -->
          <ng-container
            *ngIf="
              isTeamInvitation(notification) ||
              isBeneficiaryInvitation(notification)
            "
          >
            <div
              fxLayout="row"
              fxLayoutAlign="center center"
              fxLayoutGap="30px"
            >
              <button
                mat-raised-button
                color="primary"
                (click)="
                  isTeamInvitation(notification)
                    ? acceptTeamInvitation(notification)
                    : acceptBeneficiaryInvitation(notification)
                "
              >
                {{ "Accept" | translate }}
                <span *ngIf="isBeneficiaryInvitation(notification)">{{
                  "and become a beneficiary" | translate
                }}</span>
              </button>

              <button
                mat-raised-button
                color="warn"
                (click)="declineTeamInvitation(notification)"
              >
                {{ "Decline" | translate }}
              </button>
            </div>
          </ng-container>
        </div>
      </div>
      <button
        mat-button
        color="warn"
        class="actions"
        (click)="deleteNotification(notification)"
        matTooltip="Delete notification"
        title="Delete notification"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</main>
