.notification {
  margin: 0px auto;
  padding: 10px;
  width: 90%;
  opacity: 1;
  text-align: justify;
  border-radius: 10px;
}
.unread {
  background-color: rgb(186, 247, 247);
}
.read {
  background-color: rgb(223, 219, 219);
}

img {
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0.4;
  border-radius: 1rem;
}

.time,
.actions {
  margin-left: auto;
}