<div class="privacy_page">
    <h1> Legas Privacy Policy </h1>
    <h3> Date of Last Revision: 02/03/2022</h3>
    <p></p>
    <p>
        <span style="font-weight: 400;">Welcome to the websites, mobile application or widgets (as the case may be)
            operated by Highlight Software Design PLC (including its subsidiaries, affiliates, agents, and service
            providers, collectively, &ldquo;Legas Fund,&rdquo; &ldquo;we,&rdquo; &ldquo;us,&rdquo; or
            &ldquo;our&rdquo;). Legas Fund provides (a) a platform through its website at www.legasfund.com and
            attendant mobile applications (collectively, with any new features and applications, the
            &ldquo;Platform&rdquo;) and related services (collectively, with the Platform, the &ldquo;Legas Fund
            Services&rdquo;). The Platform provides information about Legas Fund, and explains how users can post a
            fundraiser, accept monetary donations and details our related services (together with the Platform, the
            &ldquo;Services&rdquo;) to users and visitors (&ldquo;you&rdquo; or &ldquo;your&rdquo;).</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">This Privacy Policy (the &ldquo;Policy&rdquo;) describes and governs how we
            collect, use, share and protect information collected in the context of our Services. Before you use or
            submit any information through or in connection with the Services, please carefully review this Policy. By
            using any part of the Services, you acknowledge the collection, use, and disclosure of your information as
            outlined in this Policy. To the extent allowed by law, the English version of this Policy is binding and
            other translations are for convenience only.</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">INFORMATION WE COLLECT</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">As further described below, when you use or otherwise access the Services, we
            collect information in multiple ways, including when you provide information directly to us, and when we
            passively collect information from your browser or device (e.g., by logging how you interact with our
            Services).</span>
    </p>
    <p></p>
    <ol>
        <li>
            <span style="font-weight: 400;"> Information That You Provide Directly to Us:</span>
        </li>
    </ol>
    <p></p>
    <ol>
        <li style="font-weight: 400;" aria-level="1">
            <span style="font-weight: 400;">Registration information:</span>
        </li>
    </ol>
    <p>
        <span style="font-weight: 400;">When you register for our Services or open an account, we collect your email
            address and login details, your country, your phone number (for purposes of multi-factor authentication and
            to provide you with important messages) and any information you choose to provide us (such as a profile
            picture).</span>
    </p>
    <p></p>
    <ol>
        <li style="font-weight: 400;" aria-level="1">
            <span style="font-weight: 400;">Creation of a fundraiser:</span>
        </li>
    </ol>
    <p>
        <span style="font-weight: 400;">When you create a fundraiser on the Platform, we collect the information you
            choose to provide us in relation to your fundraiser and we display it through our Platform. For example, you
            can provide a fundraiser title, choose a fundraiser category, upload images and describe your fundraiser
            goal(s).&nbsp; You might, in creating a fundraiser, choose to provide us with information relating to third
            parties by organizing a fundraiser for a family member or friend, and in doing so, you disclose the name or
            circumstances of that family member or friend.&nbsp; By providing information in a fundraiser, you consent
            to our collection, storage and use of your data.&nbsp; If you upload personal data related to third parties,
            you acknowledge and agree that you have the authority of the relevant third parties for us to access and use
            the relevant data and that you have notified the third parties and informed them of how their information is
            collected and used by Legas Fund to provide the Services. We reserve the right to identify you as the person
            who has made the referral in any messages that are sent to them.</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">Our payment processors also collect and maintain information related to your
            withdrawal of funds from any fundraiser.</span>
    </p>
    <p></p>
    <ol>
        <li style="font-weight: 400;" aria-level="1">
            <span style="font-weight: 400;">Setting up withdrawals:</span>
        </li>
    </ol>
    <p></p>
    <p>
        <span style="font-weight: 400;">When you are the beneficiary (or the recipient of funds from a fundraiser), we
            collect your contact details (such as name and email address), country, your phone number (for purposes of
            multi-factor authentication and to send you important messages) and any information you choose to provide
            us.&nbsp;&nbsp;&nbsp;</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">Our payment processors collect your bank details as well as other information
            necessary to set up the withdrawals.</span>
    </p>
    <p></p>
    <ol>
        <li style="font-weight: 400;" aria-level="1">
            <span style="font-weight: 400;">Donation information:</span>
        </li>
    </ol>
    <p>
        <span style="font-weight: 400;">On the Platform, when you donate to a fundraiser, we collect your contact
            details (such as name and email address), country, and any information you choose to provide us (such as a
            description of why you have donated).&nbsp;</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">Our payment processors collect your credit card details and other information
            necessary to process the donation such as your home address.</span>
    </p>
    <p></p>
    <ol>
        <li style="font-weight: 400;" aria-level="1">
            <span style="font-weight: 400;">Public Communications:</span>
        </li>
    </ol>
    <p>
        <span style="font-weight: 400;">You can post comments, leave feedback, send thank-you notes or otherwise
            communicate with other users through our Platform. Any content, including such comments, feedback, and notes
            that you choose to post through our Platform are available to the public by default.&nbsp;</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">Please remember that any information that is disclosed in these areas becomes
            public information for both us and other users to use and share. Take care not to share personal data unless
            you intend for that data to become public. Please also be considerate and respectful of others while using
            the community to share your opinions. We reserve the right, but do not have the obligation, to review and
            monitor such posting or any other content on our Services, and to remove postings or content that may be
            viewed as inappropriate or offensive to others.</span>
    </p>
    <p></p>
    <ol>
        <li style="font-weight: 400;" aria-level="1">
            <span style="font-weight: 400;">Communications to Legas Fund:</span>
        </li>
    </ol>
    <p></p>
    <p>
        <span style="font-weight: 400;">You may contact us via a contact form, email, by chat services or by other means
            (for example, with questions about our Services, for customer support, or to let us know your ideas for new
            products or modifications to existing products). You may also choose to respond to surveys that we send out,
            or queries about your fundraisers.&nbsp; When you do so, we collect the information you choose to provide
            us, such as your contact details, any images you choose to upload and the contents and nature of your
            message.</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">We would ask that you take care not to send financial information or other
            sensitive personal data to us through our chat services or other means, unless we ask you specifically for
            that data as part of providing our&nbsp; Service to you.&nbsp; When you provide such information to us
            directly, you consent to the processing of this data by Legas Fund and/or our service providers. We collect
            the information listed in this section for the purposes described below in the sections &ldquo;Our Use of
            Information Collected&rdquo; and &ldquo;Our Disclosure of Information Collected Through the Services.&rdquo;
            While you are under no obligation to provide us with such information, should you choose to withhold such
            information, we may not be able to provide you with some or all of the Services.</span>
    </p>
    <p>
        <br />
    </p>
    <ol>
        <li style="font-weight: 400;" aria-level="1">
            <span style="font-weight: 400;">Information relating to third parties:</span>
        </li>
    </ol>
    <p></p>
    <p>
        <span style="font-weight: 400;">You can choose to provide us with information relating to third parties. For
            example, if you choose to share your fundraiser with family and friends through our Platform&rsquo;s texting
            services. If you decide to do that, we give you the option to either add information to our Platform or to
            provide us access to information stored in your email and mobile device&rsquo;s address books, such as
            names, email addresses, or phone numbers of your contacts (collectively, &ldquo;Third-Party
            Data&rdquo;).</span>
    </p>
    <p>
        <span style="font-weight: 400;">If you use any feature of the Services that allows you to communicate with third
            parties (such as to refer a third party to the Services or to communicate with them regarding a fundraiser
            or a donation), either by submitting Third-Party Data to the Services or otherwise permitting the Services
            to automatically access Third-Party Data in your possession, you acknowledge, represent, and agree (a) that
            you have the authority of the relevant third party for us to access and use the relevant Third-Party Data,
            and (b) that you have notified these third parties and informed them how their information is collected and
            used by Legas Fund to provide the Services.</span>
    </p>
    <p>
        <span style="font-weight: 400;">We reserve the right to identify you as the person who has made the referral in
            any messages that are sent to them. We use Third-Party Data to (1) contact such third party using the
            Third-Party Data provided, and/or (2) provide you with an editable template message designed to facilitate
            communication between you and such third party through the Services. In addition to sending the foregoing
            communications, we may also send reminders or related messages to you and to third parties on your behalf
            from time to time where permitted by applicable law. In each case, any such communications sent to third
            parties using Third-Party Data will provide a means to &ldquo;opt out&rdquo; of receiving further
            communication of the same nature.</span>
    </p>
    <p></p>
    <ol>
        <li style="font-weight: 400;" aria-level="1">
            <span style="font-weight: 400;">&nbsp;Sensitive information:</span>
        </li>
    </ol>
    <p>
        <span style="font-weight: 400;">You can also provide us with information about yourself or third parties that is
            considered sensitive, such as political opinions, health information or religious beliefs.&nbsp; If you post
            this information in a fundraiser, you choose to provide such information to be published publicly in
            relation to your fundraiser, donation or otherwise.</span>
    </p>
    <p>
        <span style="font-weight: 400;">When you provide such information to us directly, you consent to the processing
            of this data by Legas Fund and/or its service providers. We collect the information listed in this section
            for the purposes described below in the sections &ldquo;Our Use of Information Collected&rdquo; and
            &ldquo;Our Disclosure of Information Collected Through the Services.&nbsp;</span>
    </p>
    <p></p>
    <ol>
        <li style="font-weight: 400;" aria-level="1">
            <span style="font-weight: 400;">&nbsp;Biometric information:</span>
        </li>
    </ol>
    <p></p>
    <p>
        <span style="font-weight: 400;">We use third-party services for identity verification and fraud prevention
            purposes. These biometric information services, acting as our processors, may collect a copy of your
            government-issued ID (i.e., your driver&rsquo;s license, state ID card, or passport) and a scan of the
            picture on your government-issued ID for identification purposes (&ldquo;biometric information&rdquo;) and
            employ facial recognition technology to verify your identity. These biometric information services provide
            us with a confirmation as to whether your identity has been validated or not.&nbsp;</span>
    </p>
    <p>
        <span style="font-weight: 400;">By sharing your information with these biometric information services, you
            consent to the collection, processing, sharing and storage of your biometric information for identity
            verification and fraud prevention purposes.&nbsp;</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">Your biometric information will be used for identity verification and fraud
            prevention purposes and in accordance with this Policy. If you do not consent to the collection and use of
            your biometric information, we will use a copy of your government-issued ID and other information to verify
            your identity.</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">Your biometric information will be retained by our processors for as long as
            necessary for identity verification and fraud prevention and in accordance with applicable law.&nbsp;</span>
    </p>
    <p></p>
    <ol>
        <li>
            <span style="font-weight: 400;"> Data from Other Services:</span>
        </li>
    </ol>
    <p></p>
    <p>
        <span style="font-weight: 400;">Legas Fund may use other third-party services to improve the quality of our own
            customer database so that we might improve our Services to you.&nbsp;&nbsp;</span>
    </p>
    <p>
        <br />
    </p>
    <ol>
        <li>
            <span style="font-weight: 400;"> Information That is Passively or Automatically Collected:</span>
        </li>
    </ol>
    <p></p>
    <ol>
        <li style="font-weight: 400;" aria-level="1">
            <span style="font-weight: 400;">Device &amp; Usage Information:</span>
        </li>
    </ol>
    <p>
        <span style="font-weight: 400;">When you interact with Legas Fund through the Services, we automatically receive
            and store certain information from devices that you use to access the Services. This information is
            collected passively by using various technologies, and includes the type of internet browser or mobile
            device you use, any website from which you have come to the Services, your operating system, and location
            data through an IP address that identifies the city and state where you logged into the Platform or your
            precise geo-location if you have permitted your mobile device to provide that information to us. Legas Fund
            either stores such information itself or such information is included in databases owned and maintained by
            Legas Fund, and/or its agents or service providers.</span>
    </p>
    <p></p>
    <ol>
        <li style="font-weight: 400;" aria-level="1">
            <span style="font-weight: 400;">Location Information:</span>
        </li>
    </ol>
    <p>
        <span style="font-weight: 400;">When you use the Services to organize a fundraiser, the Services request that
            you provide your city or town, and state or province of residence. Please keep in mind that other users of
            the Services can view your zip code, city or town, and state or province of residence in connection with the
            fundraiser, if it is made available within Legas Fund&rsquo;s Public Search Directory. We also use your
            location information as described above under &ldquo;Device &amp; Usage Information&rdquo;, and in an
            aggregate way, as described below in the &ldquo;Aggregated Data&rdquo; section.</span>
    </p>
    <p></p>
    <ol>
        <li style="font-weight: 400;" aria-level="1">
            <span style="font-weight: 400;">Cookies and Other Electronic Technologies:</span>
        </li>
    </ol>
    <p>
        <span style="font-weight: 400;">When you interact with the Services, we try to make that experience simple and
            meaningful. When you visit our Platform, our web server, third party business providers, and/or the Social
            Networking Services (defined below) integrated into the Service, we use cookies or other electronic
            technologies (such as web beacons or pixel tags) for various purposes. Cookies are small pieces of
            information that are issued to your computer or mobile device when you visit a website, or access or use a
            mobile application. That information regarding your use of the Platform is stored and sometimes tracked. Web
            beacons are transparent image files, which enable the Platform to track website usage information.&nbsp;
            Unlike cookies, web beacons are not placed on your computers. Pixel tags are tiny graphic images with unique
            identifiers that track online movements of our users. Unlike cookies, pixel tags are embedded in web pages.
            We will refer to the cookies and other technologies identified here collectively as &ldquo;Cookies&rdquo;
            for purposes of this Policy.&nbsp;</span>
    </p>
    <p></p>
    <ol>
        <li style="font-weight: 400;" aria-level="2">
            <span style="font-weight: 400;">Type of Cookies</span>
        </li>
    </ol>
    <p>
        <span style="font-weight: 400;">Some Cookies are strictly necessary to make our Services available to you
            (&ldquo;Essential Cookies&rdquo;). For example, Essential Cookies are used to provide the chat and login
            functionality and to remember your consent and privacy choices. We cannot provide our Services without these
            Essential Cookies.</span>
    </p>
    <p>
        <span style="font-weight: 400;">We also use Cookies for functional purposes in order to maintain and improve our
            Services or your experiences, and for marketing purposes (collectively, &ldquo;Non-Essential
            Cookies&rdquo;). Some of the Non-Essential Cookies used are set by us to collect and process certain data on
            our behalf and some are set by third parties and/or our Social Networking Services.&nbsp;&nbsp;</span>
    </p>
    <p>
        <span style="font-weight: 400;">&nbsp;</span>
    </p>
    <p></p>
    <ol>
        <li style="font-weight: 400;" aria-level="2">
            <span style="font-weight: 400;">Analytics&nbsp;</span>
        </li>
    </ol>
    <p></p>
    <p>
        <span style="font-weight: 400;">We use third-party web analytics services on our Services, such as those of
            Google Analytics, to help us analyze how users use the Services, including by noting the third-party website
            from which you arrive, and providing certain features to you including Google Signal features such as user
            id tracking, dynamic remarketing, interest-based advertising, audience targeting, behavioral reporting,
            demographics and interests reporting, user segment analysis, device reporting, display advertising, and
            video ads reporting. The information (including an anonymized IP address) collected by the technology will
            be disclosed to or collected directly by these service providers, who use the information to evaluate your
            use of the Services. This information can be used to place interest-based advertisements on the Platform.
            This may result in you seeing advertisements for our Platform when you visit other websites. To prevent
            Google Analytics from using your information for analytics, you can install the Google Analytics Opt-out
            Browser Add-on. You can also adjust your advertising settings. Google&rsquo;s ability to use and share
            information collected by Google Analytics about your visits to the Site is restricted by the Google
            Analytics terms of use and the Google policy.</span>
    </p>
    <p>
        <br />
    </p>
    <ol>
        <li style="font-weight: 400;" aria-level="2">
            <span style="font-weight: 400;">Why We Use Cookies</span>
        </li>
    </ol>
    <p>
        <span style="font-weight: 400;">We use Cookies to collect information about your access to and use of the
            Platform, including to: (1) allow you to navigate and use all the features provided by our Platform; (2)
            customize elements of the layout and/or content within the Platform and remember that you have visited us
            before; (3) identify the number of unique visitors we receive; (4) improve the Platform and learn which
            functions of the Platform are most popular with users; and (5) understand how you use the Platform (e.g., by
            learning how long you spend on the Platform and where you have come to the Platform from). As we adopt
            additional technologies, we may gather additional information through other methods. We will notify you of
            such changes with updates to this Policy.</span>
    </p>
    <p></p>
    <ol>
        <li style="font-weight: 400;" aria-level="2">
            <span style="font-weight: 400;">Your Cookie Preferences</span>
        </li>
    </ol>
    <p>
        <span style="font-weight: 400;">Most web and mobile device browsers automatically accept Cookies but, if you
            prefer, you can change your browser to prevent that or to notify you each time a cookie is set. You can also
            learn more about Cookies by visiting www.allaboutcookies.org, which includes additional useful information
            on Cookies and how to block Cookies using different types of browsers or mobile devices.</span>
    </p>
    <p>
        <span style="font-weight: 400;">You can also consult the &ldquo;Help&rdquo; section of your browser for more
            information (e.g., Internet Explorer, Google Chrome, Mozilla Firefox, or Apple Safari).&nbsp;&nbsp;</span>
    </p>
    <p>
        <span style="font-weight: 400;">You can also manage the use of Flash technologies, including Cookies and local
            storage objects with the Flash management tools available at Adobe&rsquo;s website. Please note that by
            blocking any or all Cookies, you may not have access to certain features or offerings of the
            Services.</span>
    </p>
    <p>
        <span style="font-weight: 400;">If you are accessing our Services through a mobile device, you can also update
            your privacy settings on your device by setting the &ldquo;Limit Ad Tracking&rdquo; and Diagnostics and
            Usage setting property located in the settings screen of your Apple iPhone or iPad, or by resetting your
            Android ID through apps that are available in the Play Store. You can also limit information collection by
            uninstalling the App on your device and you can use the standard uninstall process available as part of your
            device for this purpose.&nbsp; Finally, and in connection with the Social Networking Services, you can visit
            your settings with each of the Social Networking Services to exercise your choice about those
            technologies.</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">Cookies Settings</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">OUR USE OF INFORMATION COLLECTED</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">Legas Fund uses the information collected from the Services in a manner that is
            consistent with this Policy. We use the information that you provide (or otherwise permit the Services to
            access) for the following purposes:</span>
    </p>
    <p></p>
    <ol>
        <li style="font-weight: 400;" aria-level="1">
            <span style="font-weight: 400;">Communicating With You</span>
        </li>
    </ol>
    <p>
        <span style="font-weight: 400;">We use the information we collect to contact you for administrative purposes
            (e.g., to provide services and information that you request or to respond to comments and questions). For
            instance, if you contact us by email, we will use the information you provide to answer your question or
            resolve your problem. In addition, we may call you if you are not responding to email and your fundraiser is
            subject to refunds.</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">We also use the information we collect to send you communications relating to
            the Services, such as updates on events, communications relating to products and services offered by us and
            by third parties, and communications about services we believe will be of interest to you. For example, we
            can send periodic emails to registered users of the Services relating to their recent interactions with the
            Services, such as donating to a fundraiser.</span>
    </p>
    <p>
        <span style="font-weight: 400;">&nbsp;&nbsp;</span>
    </p>
    <ol>
        <li style="font-weight: 400;" aria-level="1">
            <span style="font-weight: 400;">&nbsp;Mobile Services: If you access the Services through a mobile device
                and if you have chosen to provide us with your mobile number, or other electronic means to your mobile
                device, you agree that we can communicate with you regarding your Legas Fund account by SMS, MMS, text
                message.&nbsp; Further, when setting up your Legas Fund account, if you click &ldquo;Send code&rdquo; by
                &ldquo;Text Message,&rdquo; you agree to receive automated text messages related to your account from or
                on behalf of Legas Fund at the phone number provided.&nbsp; You can reply STOP to such text messages to
                cancel.&nbsp; Message frequency will vary. Message and data rates may apply. In the event you change or
                deactivate your mobile telephone number, you agree to promptly update your Legas Fund account
                information to ensure that your messages are not misdirected. Please note that your wireless service
                carrier&rsquo;s standard charges, data rates, and other fees may apply where you access the Services
                through a mobile device. In addition, downloading, installing, or using certain Services on a mobile
                device may be prohibited or restricted by your carrier, and not all Services may work with all carriers
                or devices.&nbsp;</span>
        </li>
    </ol>
    <p></p>
    <ol>
        <li style="font-weight: 400;" aria-level="1">
            <span style="font-weight: 400;">Providing the Services</span>
        </li>
    </ol>
    <p>
        <span style="font-weight: 400;">We use the information we collect to operate, maintain, and provide our Services
            such as enabling access to the Platform, customer support or to complete transactions.&nbsp;&nbsp;</span>
    </p>
    <p></p>
    <ol>
        <li style="font-weight: 400;" aria-level="1">
            <span style="font-weight: 400;">Security and Fraud Prevention</span>
        </li>
    </ol>
    <p></p>
    <p>
        <span style="font-weight: 400;">We use the information we collect to secure our Services and to verify identity,
            prevent fraud, and to continually improve these aspects of our Services.&nbsp; This includes our request for
            your (mobile) telephone number to conduct multi-factor authentication when you create an account and/or at
            the time you set up withdrawals as a beneficiary.</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">&nbsp;</span>
    </p>
    <p></p>
    <ol>
        <li style="font-weight: 400;" aria-level="1">
            <span style="font-weight: 400;">&nbsp;Analytics, Research and Product Development</span>
        </li>
    </ol>
    <p>
        <span style="font-weight: 400;">We use the information we collect to analyze data usage trends and preferences
            in order to improve the accuracy, effectiveness, security, usability or popularity of our Services.&nbsp; We
            further use data in connection with our research on our customer demographics, interests and
            behavior.</span>
    </p>
    <p></p>
    <ol>
        <li style="font-weight: 400;" aria-level="1">
            <span style="font-weight: 400;">Customization</span>
        </li>
    </ol>
    <p>
        <span style="font-weight: 400;">We use the information we collect, such as device identifiers, to learn how
            users interact with our Services in order to personalize the content of our Services, such as customizing
            the language and fundraisers on our homepage based on your location.</span>
    </p>
    <p></p>
    <ol>
        <li style="font-weight: 400;" aria-level="1">
            <span style="font-weight: 400;">Legal</span>
        </li>
    </ol>
    <p>
        <span style="font-weight: 400;">We use information we collect to defend our legal rights, comply with state,
            local, federal or international laws, and to enforce our Terms of Service and this Policy.</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">OUR DISCLOSURE OF INFORMATION COLLECTED THROUGH THE SERVICES</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">There are certain circumstances in which we share information collected through
            the Services with certain third parties without further notice to you, as set forth below.</span>
    </p>
    <p></p>
    <ol>
        <li style="font-weight: 400;" aria-level="1">
            <span style="font-weight: 400;">Business Transfers:</span>
        </li>
    </ol>
    <p>
        <span style="font-weight: 400;">As we develop our business, we might sell or buy businesses or assets. In the
            event of a corporate sale, merger, reorganization, dissolution, similar event, or steps taken in
            anticipation of such events (e.g., due diligence in a transaction), user information may be part of the
            transferred assets.</span>
    </p>
    <p></p>
    <ol>
        <li style="font-weight: 400;" aria-level="1">
            <span style="font-weight: 400;">Affiliates and Subsidiaries:</span>
        </li>
    </ol>
    <p></p>
    <p>
        <span style="font-weight: 400;">We share your personal information among the Legas Fund entities, including our
            affiliates and subsidiaries, in order to provide our Services including: hosting, marketing and publicizing
            fundraisers; providing you with customer support; administering funds in connection with fundraisers;
            authenticating donors; sending you communications; and conducting the other activities described in this
            Policy.</span>
    </p>
    <p></p>
    <ol>
        <li style="font-weight: 400;" aria-level="1">
            <span style="font-weight: 400;">Agents, Consultants, Vendors and Related Third Parties:</span>
        </li>
    </ol>
    <p>
        <span style="font-weight: 400;">Legas Fund contracts with other companies to perform certain business-related
            functions on Legas Fund&rsquo;s behalf, and we provide access to or share your information with these
            companies so they can perform services for us. Examples of such functions include marketing, mailing
            information, data storage, security, identity verification, fraud prevention, payment processing, legal
            services, and maintaining databases. We limit the personal information provided to these service providers
            and entities to that which is reasonably necessary for them to perform their functions, and we require them
            to agree to maintain the confidentiality of such information.</span>
    </p>
    <p></p>
    <ol>
        <li style="font-weight: 400;" aria-level="1">
            <span style="font-weight: 400;">Third Parties that Partner With Us or Offer Services You Choose to
                Link</span>
        </li>
    </ol>
    <p></p>
    <p>
        <span style="font-weight: 400;">Legas Fund shares personal information with third parties that partner with us
            on various initiatives and/or that offer services you choose to link to your Legas Fund fundraiser or that
            are linked to a Legas Fund fundraiser to which you may donate.&nbsp; When Legas Fund shares personal
            information with third parties, we require those third parties to handle the information in accordance with
            relevant laws.&nbsp; When you link to or interact directly with third-party companies (or you donate to
            Legas Fund fundraisers that are linked), their use of your personal information and your use of their
            features are governed by the privacy notices of those companies. We encourage you to carefully read their
            privacy notices.</span>
    </p>
    <p></p>
    <ol>
        <li style="font-weight: 400;" aria-level="1">
            <span style="font-weight: 400;">&nbsp;Legal Requirements:</span>
        </li>
    </ol>
    <p>
        <span style="font-weight: 400;">Legas Fund can access, disclose, transfer and preserve your information when we
            have a good faith belief that doing so is necessary to: (i) comply with the law including with subpoenas,
            search warrants, court orders, and other legal process; and respond to inquiries or requests from
            government, regulatory, law enforcement, public authorities, or content protection organizations; (ii)
            protect and defend the legal rights, privacy, safety or property of Legas Fund, its affiliates,
            subsidiaries, employees, agents, contractors, or its users; (iii) permit us to pursue available remedies,
            commence, participate in, or defend litigation, or limit the damages we may sustain; or (iv) enforce this
            Policy or any applicable Terms of Service.</span>
    </p>
    <p></p>
    <ol>
        <li style="font-weight: 400;" aria-level="1">
            <span style="font-weight: 400;">Organizers and beneficiaries of fundraisers:</span>
        </li>
    </ol>
    <p>
        <span style="font-weight: 400;">We share your information with organizers and, if not the same, the
            beneficiaries of the fundraiser. For example, if you donate to a fundraiser, we share your name and donation
            information you&rsquo;ve provided in connection with your donation with the organizer or beneficiary, who
            may contact you. For example, if an individual starts a fundraiser for a Charity and you donate to that
            fundraiser, then if the information is requested, (i) the Charity can receive information about both the
            organizer, if not the same, and donors, and (ii) organizer can receive donor information.&nbsp; In the same
            scenario, the beneficiary may communicate with you about your donation and/or may rely on your information
            in order to comply with its legal and auditing requirements.</span>
    </p>
    <p></p>
    <ol>
        <li style="font-weight: 400;" aria-level="1">
            <span style="font-weight: 400;">Your Consent</span>
        </li>
    </ol>
    <p>
        <span style="font-weight: 400;">In certain situations, we may share your information in the event that you
            consent to the sharing of your information. For example, we may partner with third party organizations to
            arrange for specific fundraisers. If you consent to our providing your contact information to a specific
            partner, we share, with the partner organization, your name, email address and other information
            you&rsquo;ve provided in connection with your donation to the specific fundraiser.</span>
    </p>
    <p></p>
    <ol>
        <li style="font-weight: 400;" aria-level="1">
            <span style="font-weight: 400;">Aggregated Data</span>
        </li>
    </ol>
    <p>
        <span style="font-weight: 400;">We aggregate, anonymize and/or de-identify information collected actively or
            passively about you so that the information no longer relates to you individually.&nbsp; We then use that
            data for various lawful purposes, including but not limited to our research on our customer demographics,
            interests and behavior. We also share this information with our affiliates, agents, business partners,
            research facilities or other third parties (e.g., Google Analytics).</span>
    </p>
    <p></p>
    <ol>
        <li style="font-weight: 400;" aria-level="1">
            <span style="font-weight: 400;">Cookies and Other Electronic Technologies</span>
        </li>
    </ol>
    <p></p>
    <p>
        <span style="font-weight: 400;">Information is shared as stated in the Section entitled &ldquo;Cookies and Other
            Electronic Technologies.&rdquo;&nbsp;</span>
    </p>
    <p></p>
    <ol>
        <li style="font-weight: 400;" aria-level="1">
            <span style="font-weight: 400;">Other Users of Our Services</span>
        </li>
    </ol>
    <p>
        <span style="font-weight: 400;">We provide your information to other users of our Services if you choose to make
            your information publicly available in a publicly accessible area of the Services, such as in your
            fundraiser or in the comments.</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">VOLUNTEERED INFORMATION</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">Please be advised that some information you provide may be publicly accessible,
            such as information posted in forums or comment sections. We also collect information through forums and
            communities, surveys and customer support communications, your communication to us of ideas for new products
            or modifications to existing products, feedback and other solicited or unsolicited submissions
            (collectively, with publicly-accessible information, &ldquo;Volunteered Information&rdquo;). By sending us
            Volunteered&nbsp; Information, you further (a) agree that we are under no obligation of confidentiality,
            express or implied, with respect to the Volunteered&nbsp; Information, (b) acknowledge that we may have
            something similar to the Volunteered&nbsp; Information already under consideration or in development, (c)
            grant us an irrevocable, non-exclusive, royalty-free, perpetual, worldwide license to use, modify, prepare
            derivative works, publish, distribute and sublicense the Volunteered&nbsp; Information, and (d) irrevocably
            waive, and cause to be waived, against Legas Fund and its users any claims and assertions of any moral
            rights contained in such Volunteered&nbsp; Information. This Volunteered&nbsp; Information section shall
            survive any termination of your account or the Services.</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">CHILDREN</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">Our Services are not designed for use by individuals under the age of 13 . If
            you are under the age of 13 , please do not use the Services and/or submit any information through the
            Services.&nbsp;</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">LINKS TO OTHER WEBSITES</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">This Policy applies only to the Services. The Services can contain links to
            other web sites not operated or controlled by Legas Fund (the &ldquo;Third-Party Sites&rdquo;). The policies
            and procedures we described here do not apply to the Third-Party Sites. The links from the Services do not
            imply that Legas Fund endorses or has reviewed the Third-Party Sites. We suggest contacting those sites
            directly for information on their respective privacy policies.</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">SECURITY</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">While no organization can guarantee perfect security, Legas Fund has implemented
            and seeks to continuously improve technical and organizational security measures to protect the information
            provided via the Services from loss, misuse, unauthorized access, disclosure, alteration, or
            destruction.&nbsp; For example, limiting access to information only to employees and authorized service
            providers who need to know such information for the purposes described in this Policy.&nbsp;</span>
    </p>
    <p>
        <br />
    </p>
    <p>
        <span style="font-weight: 400;">RETENTION OF YOUR INFORMATION</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">We retain your information for as long as we deem necessary for the purpose for
            which that information was collected and for our legitimate business operations; provided, however, that
            your information is only retained to the extent permitted or required by applicable laws. When we no longer
            need to retain your information, we will take reasonable steps to remove it from our systems and records
            and/or take steps to anonymize it so that you can no longer be identified from it in accordance with our
            internal document retention policies.</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">When determining the retention period for your information, we take into account
            various criteria, such as the type of products and services requested by or provided to you, the nature and
            length of our relationship with you, possible re-enrollment with our products or services, the impact on the
            Services we provide to you if we delete some information about you, mandatory retention periods provided by
            law and the statute of limitations.</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">Marketing opt out&nbsp;</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">Each marketing communication we send you will contain instructions permitting
            you to &ldquo;opt out&rdquo; of receiving future marketing communications. If you opt out of receiving
            marketing communications or other information we think may interest you, we can still send you emails about
            your account or any Services you have requested or received from us.</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">OTHER TERMS</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">Your access to and use of the Services is subject to Legas Fund&rsquo;s Terms of
            Service and such other terms, which may be made available to you in connection with your use of the
            Services.&nbsp;&nbsp;</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">CHANGES TO LEGAS FUND&rsquo;S PRIVACY POLICY</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">Legas Fund reserves the right to update or modify this Policy at any time and
            from time to time and without notice. If you disagree with our revisions to the Policy, you can deactivate
            your account or discontinue the use of our Services. Please review this Policy periodically for any updates
            or changes to this Policy.</span>
    </p>
    <p></p>
    <p>
        <span style="font-weight: 400;">By using our Platform and Services after any such update or modification, you
            acknowledge that you have read and understood the terms of the Policy as updated or modified.</span>
    </p>
    <p>
        <br />
        <br />
        <br />
    </p>
</div>