<mat-card
  fxLayout="column"
  [ngStyle.gt-sm]="{ width: '50%', margin: '30px auto' }"
  [ngStyle.sm]="{ width: '60%', margin: '30px auto' }"
  fxLayoutGap="10px"
>
  <!-- Title of an Card -->
  <mat-card-title>
    <h1 class="headline">Sign up</h1>
  </mat-card-title>
  <div>
    <mat-divider mat-inset></mat-divider>
  </div>

  <mat-card-content>
    <form
     [formGroup]="form"
     (ngSubmit)="signUp()"
     >
      <div
        fxLayout="row"
        fxLayout.lt-md="column"
        fxLayoutAlign="space-between start"
        fxLayoutGap="10px"
      >
        <mat-form-field appearance="outline">
          <mat-label>First name </mat-label>
          <input
            matInput
            formControlName="firstName"
            [(ngModel)]="user.firstName"
            placeholder="First name"
            type="text"
          />
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label> Last name </mat-label>
          <input
            matInput
            formControlName="lastName"
            [(ngModel)]="user.lastName"
            placeholder="Last name"
            type="text"
          />
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline">
        <mat-label> Email Address </mat-label>
        <input
          matInput
          required
          formControlName="email"
          [(ngModel)]="user.email"
          placeholder="Email address"
          type="email"
          email
        />
        <mat-icon matSuffix></mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          formControlName="password"
          [(ngModel)]="user.password"
          required
          minlength="3"
          [type]="hidePassword ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>
      <button
      mat-raised-button
      [disabled]="!form.valid"
      type="submit"
      color="primary"
      class="btn-large">
        Sign up
      </button>
    </form>
  </mat-card-content>
  <div>
    <mat-divider mat-inset></mat-divider>
  </div>
  <p>
    GoFundMe's fee is 5% from each donation you receive. The payment processor
    fee is 2.9% + $0.30 per donation. By continuing, you agree to the GoFundMe
    <a
      link
      routerLink="/terms"
      routerLinkActive="router-link-active"
      color="accent"
    >
      terms</a
    >
    and acknowledge receipt of our
    <a
      link
      routerLink="/privacy"
      routerLinkActive="router-link-active"
      color="accent"
    >
      privacy</a
    >
    policy.
  </p>
</mat-card>

<p class="footer-logo"></p>
