mat-card.mat-card {
  align-self: center;
  margin: 20px auto;
}

form {
  margin: 20px auto !important;
}

mat-icon.mat-icon {
  cursor: pointer;
}

img{
  cursor: pointer;
}

mat-card-footer.mat-card-footer{
margin: 5px;
}