<div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="20px">
  <h2 class="bold">Change Password</h2>
  <button mat-button mat-dialog-close>
    <mat-icon class="mat-18">close</mat-icon>
  </button>
</div>

<form [formGroup]="form" (ngSubmit)="changePassword()">
  <mat-form-field floatPlaceholder="auto" appearance="outline">
    <mat-label>Your password</mat-label>
    <input
      matInput
      formControlName="password"
      type="password"
      placeholder="Your password"
    />
    <mat-error *ngIf="password?.touched && password?.errors?.required"
      >Please enter your current password.
    </mat-error>
  </mat-form-field>
  <mat-form-field floatPlaceholder="auto" appearance="outline">
    <mat-label>New password</mat-label>
    <input
      matInput
      formControlName="newPassword"
      type="password"
      placeholder="New password"
      #passwordInput
    />
    <mat-error *ngIf="newPassword?.touched && newPassword?.errors?.whiteSpace"
      >Password cannot include whitespaces.
    </mat-error>
    <mat-error *ngIf="newPassword?.touched && newPassword?.errors?.required"
      >Please enter your new password.
    </mat-error>
    <mat-error *ngIf="newPassword?.touched && newPassword?.errors?.pattern">
      Password must contain atleast 1 special character and 1 number.
    </mat-error>
  </mat-form-field>

  <mat-form-field floatPlaceholder="auto" appearance="outline">
    <mat-label>Confirm password</mat-label>
    <input
      matInput
      formControlName="confirmPassword"
      type="password"
      placeholder="confirm password"
      [pattern]="passwordInput.value"
    />
    <mat-error
      *ngIf="confirmPassword?.touched && confirmPassword?.errors?.required"
      >Please confirm your new password.
    </mat-error>
    <mat-error
      *ngIf="confirmPassword?.touched && confirmPassword?.errors?.pattern"
    >
      Password and confirm password doesn't match
    </mat-error>
  </mat-form-field>

  <mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <div fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="20px">
    <button
      [disabled]="form.invalid || !form.touched || loading"
      type="submit"
      mat-raised-button
      color="primary"
    >
      Save changes
    </button>
  </div>
</form>
