<mat-card
  [ngStyle]="{ width: '60%' }"
  [ngStyle.xs]="{ width: '94%' }"
  [ngStyle.sm]="{ width: '70%' }"
  class="fundriser-form"
>
  <mat-card-content>
    <h4 class="progress-bar-sections-title heading-4">Step 4 of 4</h4>
    <div class="progress-bar-sections-wrap">
      <div
        class="
          progress-bar-sections-section progress-bar-sections-section--complete
        "
      ></div>
      <div
        class="
          progress-bar-sections-section progress-bar-sections-section--complete
        "
      ></div>
      <div
        class="
          progress-bar-sections-section progress-bar-sections-section--complete
        "
      ></div>
      <div
        class="
          progress-bar-sections-section progress-bar-sections-section--complete
        "
      ></div>
    </div>
    <h2>Set your fundraiser story</h2>
    <form>
      <story-text-area></story-text-area>
      <button
        mat-raised-button
        color="primary"
        (click)="next()"
        class="btn-large"
      >
        Complete fundriser
      </button>
    </form>
  </mat-card-content>
</mat-card>
<p class="footer-logo"></p>
