<mat-card
  class="fundriser-form"
  [ngStyle.xs]="{ width: '94%' }"
  [ngStyle.sm]="{ width: '70%' }"
>
  <mat-card-content>
    <h4 class="progress-bar-sections-title heading-4">Step 2 of 4</h4>
    <div class="progress-bar-sections-wrap">
      <div
        class="
          progress-bar-sections-section progress-bar-sections-section--complete
        "
      ></div>
      <div
        class="
          progress-bar-sections-section progress-bar-sections-section--complete
        "
      ></div>
      <div
        class="
          progress-bar-sections-section progress-bar-sections-section--remaining
        "
      ></div>
      <div
        class="
          progress-bar-sections-section progress-bar-sections-section--remaining
        "
      ></div>
    </div>
    <h2>Set your fundraising goal</h2>
    <form>
      <mat-form-field appearance="outline">
        <mat-label>How much would you like to rise? </mat-label>
        <!-- <label for="amount">How much would yyou like to rise?</label> -->
        <input
          id="amount"
          matInput
          class="matInput"
          placeholder="Enter goal amount"
          type="number"
        />
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00 USD</span>
      </mat-form-field>
      <p>
        Keep in mind that transaction fees, including credit and debit charges,
        are deducted from each donation.
      </p>
      <div id="note">
        <p>money raised, please make sure the person withdrawing has:</p>
        <ul>
          <li>A US social security number</li>
          <li>A bank account and mailing address in one of the 50 states</li>
        </ul>
      </div>
      <button
        mat-raised-button
        color="primary"
        (click)="next()"
        class="btn-large"
      >
        Next
      </button>
    </form>
  </mat-card-content>
</mat-card>
<p class="footer-logo"></p>
