<img
  [src]="fundraiser.image"
  onerror="this.src='./assets/images/placeholder.png'"
  width="100%"
  height="70%"
/>
<mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
<mat-progress-bar
  data-cy="loader"
  *ngIf="loading"
  mode="indeterminate"
></mat-progress-bar>
<form [formGroup]="form" fxLayout="column" fxLayoutAlign="center stretch">
  <button mat-raised-button color="primary">
    <label matLabel for="image">
      <input
        id="image"
        hidden
        formControlName="image"
        type="file"
        accept="image/jpeg,image/png,image/gif, image/bmp"
        (change)="onImageChoosen($event)"
      />
      {{ "Change photo" | translate }}
    </label>
  </button>
  <button
    type="submit"
    mat-raised-button
    color="primary"
    (click)="uploadImage()"
  >
    {{ "Save changes" | translate }}
  </button>
</form>
