<nav class="mat-elevation-z1 sticky-top-0">
  <nav-bar></nav-bar>
</nav>
<div>
  <div fxHide.lt-md class="illustration">
    <div fxLayout="column" fxLayoutAlign="start start">
      <h1 class="bold mat-h1">Fundraising for the people and</h1>
      <h1 class="bold mat-h1">causes you care about</h1>
      <h1 class="color-gray mat-h1">Get Started Today.</h1>
    </div>

    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign.xs="center center"
      fxLayoutAlign="start center"
      fxLayoutGap="20px"
    >
      <a
        class="btn-large"
        routerLink="/create"
        mat-raised-button
        color="primary"
        [ngStyle]="{ 'max-width': '30%' }"
      >
        Start a Campaign
      </a>
      <div fxHide.lt-md>
        <mat-divider [vertical]="true" style="height: 30px"></mat-divider>
      </div>
      <button fxFlex.lt-sm="60" mat-button class="btn-large color-gray">
        <mat-icon class="mat-18">play_circle_outline</mat-icon>
        See how Legas works
      </button>
    </div>
  </div>

  <div
    fxHide.gt-sm
    fxLayout="column"
    fxLayoutAlign="start center"
    fxLayoutGap="20px"
  >
    <div class="full-width">
      <img
        class="img-mobile"
        src="/assets/images/gofundme-homepage-illustration-1920w.png"
      />
    </div>

    <div class="mobile-header">
      <h1 class="bold mat-h1">
        Fundraising for the people and causes you care about
      </h1>
    </div>
    <h1 class="color-gray mat-h1">Get Started Today.</h1>
    <a
      routerLink="/create"
      mat-raised-button
      color="primary"
      class="btn-large"
      [ngStyle.lt-sm]="{ 'max-width': '60%' }"
    >
      Start a Campaign
    </a>
    <button fxFlex.lt-sm="60" mat-button class="btn-large color-gray">
      <mat-icon class="mat-18">play_circle_outline</mat-icon>
      See how Legas works
    </button>
  </div>
</div>
<!-- fundraisers list  -->
<div
  fxLayout="column"
  fxLayoutGap="20px"
  style="width: 80%; margin: 50px auto"
  [ngStyle.lt-md]="{ width: '96%', margin: '0px auto' }"
>
  <h2 class="bold mat-h2">Top fundraisers</h2>
  <div *ngIf="loading">
    <mat-progress-spinner
      mode="indeterminate"
      [value]="100"
      color="primary"
      class="loading-spinner"
    >
    </mat-progress-spinner>
  </div>

  <p class="text-error">{{ errorMessage }}</p>

  <!-- LIST OF FUNDRAISERS -->
  <app-public-fund-list
    [fundraisers]="fundraisers"
    [hasNext]="hasNext()"
    (nextEvent)="nextPage()"
  >
  </app-public-fund-list>
</div>

<div style="background-color: #fbf8f6; padding: 20px">
  <div
    fxLayout="column"
    style="width: 80%; margin: 30px auto"
    [ngStyle.lt-md]="{ width: '98%', margin: '30px auto' }"
  >
    <span class="bold trending-topic">TRENDING TOPIC</span>
    <h2 class="bold mat-h2">Fundraising for coronavirus relief</h2>
    <div
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center start"
      fxLayoutGap="30px"
    >
      <img src="/assets/images/step2.jpg" [ngStyle.lt-md]="{ width: '100%' }" />
      <p>
        As COVID-19 continues to spread, more individuals, communities, and
        entire nations are feeling the impact in their daily lives. Beyond the
        global health crisis, the coronavirus is having a severe economic impact
        on individuals, small businesses, and medical organizations. The urgent
        need for medical supplies, basic necessities, and quality healthcare is
        only increasing as more communities become affected by COVID-19. And
        with hundreds of thousands of individuals across the globe in
        quarantine, there is a growing need for financial support.
      </p>
    </div>

    <div
      fxLayout="center"
      fxLayout.lt-md="column-reverse"
      fxLayoutAlign="start start"
      fxLayoutGap="30px"
    >
      <div>
        <p>
          As COVID-19 continues to spread, more individuals, communities, and
          entire nations are feeling the impact in their daily lives. Beyond the
          global health crisis, the coronavirus is having a severe economic
          impact on
        </p>
        <p>
          individuals, small businesses, and medical organizations. The urgent
          need for medical supplies, basic necessities, and quality healthcare
          is only increasing as more communities become affected by COVID-19.
          And with hundreds of thousands of individuals across the globe in
          quarantine, there is a growing need for financial support.
        </p>
      </div>
      <img fxHide.lt-md src="/assets/images/step2.jpg" />
    </div>
  </div>
</div>

<div
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="30px"
  style="margin: 100px auto; width: 80%"
>
  <h2 class="bold mat-h2">The leader in online fundraising</h2>
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="30px">
    <div
      *ngFor="let item of [1, 2, 4, 5, 6, 44]"
      fxLayout="row"
      fxLayoutAlign="start start"
      fxLayoutGap="20px"
      style="margin: 30px"
    >
      <mat-icon color="primary">phone_android</mat-icon>
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
        <h3 class="bold mat-h3">Mobile app</h3>
        <div
          fxLayout="column"
          fxLayoutAlign="start start"
          fxLayoutGap="0px"
          class="color-gray"
        >
          <span> The Legas app makes it</span>
          <span>simple to launch and manage your</span>
          <span>fundraiser on the go. </span>
        </div>
      </div>
    </div>
  </div>
  <a routerLink="/create" mat-raised-button color="primary">Start a Campaign </a>
</div>
