<div>
  <div fxHide.lt-md class="illustration">
    <div fxLayout="column" fxLayoutAlign="start start">
      <h1 class="bold">Fundraising for the people and</h1>
      <h1 class="bold">causes you care about</h1>
      <h1 class="color-gray">Get Started Today.</h1>
    </div>
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign.xs="center center"
      fxLayoutAlign="start center"
      fxLayoutGap="30px"
    >
      <button ngClass="btn-large" mat-raised-button color="primary">
        Start a GoFundMe
      </button>
      <div fxHide.lt-md>
        <mat-divider [vertical]="true" style="height: 30px"></mat-divider>
      </div>
      <button fxFlex.lt-sm="60" mat-button class="btn-large color-gray">
        <mat-icon class="mat-18">play_circle_outline</mat-icon>
        See how GoFundMe works
      </button>
    </div>
  </div>

  <div
    fxHide.gt-sm
    fxLayout="column"
    fxLayoutAlign="start center"
    fxLayoutGap="20px"
  >
    <div class="full-width">
      <img
        class="img-mobile"
        src="/assets/images/gofundme-homepage-illustration-1920w.png"
      />
    </div>

    <h2 class="mobile-header" class="bold">
      Fundraising for the people and causes you care about
    </h2>
    <h1 class="color-gray">Get Started Today.</h1>

    <!-- TODO : some logic here -->
    <a
      (click)="createPage()"
      ngClass.lt-md="btn-large"
      mat-raised-button
      color="primary"
      class="start-gofundme-btn"
    >
      Start a GoFundMe
    </a>
    <button fxFlex.lt-sm="60" mat-button class="btn-large color-gray">
      <mat-icon class="mat-18">play_circle_outline</mat-icon>
      See how GoFundMe works
    </button>
  </div>
</div>

<!-- fundraisers list  -->
<div
  fxLayout="column"
  fxLayoutGap="20px"
  style="width: 80%; margin: 50px auto"
  [ngStyle.lt-md]="{ width: '98%', margin: '0px auto' }"
>
  <h2 class="bold">Top fundraisers</h2>
  <div *ngIf="loading">
    <mat-progress-spinner
      mode="indeterminate"
      [value]="100"
      color="primary"
      class="loading-spinner"
    ></mat-progress-spinner>
  </div>

  <p class="text-error">{{ errorMessage }}</p>
  <mat-grid-list
    [responsiveColumns]="{xs: 2, sm: 3,md: 3,lg: 6,xl: 8}"
    [gutterSize]="'10px'"
  >
    <mat-grid-tile
      *ngFor="let fundraiser of fundraisers"
      [colspan]="1"
      [rowspan]="1"
    >
      <mat-card
        [routerLink]="['/fundraiser-detail', fundraiser._id]"
        fxFlex.xs="98"
      >
        <div class="mat-image-container">
          <img [src]="fundraiser.image" />
        </div>
        <mat-card-content
          fxLayout="column"
          fxLayoutAlign="start start"
          [ngStyle.xs]="{ height: '130px' }"
        >
          <strong>{{ fundraiser.title }}</strong>
          <span
            *ngIf="(fundraiser?.donations)!.length > 0"
            class="color-gray text-small"
          >
            Last donation {{ (fundraiser?.donations)![0].date | timeago }}
          </span>
          <mat-progress-bar
            mode="determinate"
            [value]="percentage(fundraiser)"
            color="primary"
          ></mat-progress-bar>
          <p>
            <strong>{{ fundraiser.totalRaised }}</strong> raised of
            {{ fundraiser.goalAmount }}
          </p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<div style="background-color: #fbf8f6; padding: 20px">
  <div
    fxLayout="column"
    style="width: 80%; margin: 30px auto"
    [ngStyle.lt-md]="{ width: '98%', margin: '30px auto' }"
  >
    <span class="bold trending-topic">TRENDING TOPIC</span>
    <h2 class="bold">Fundraising for coronavirus relief</h2>
    <div
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="center start"
      fxLayoutGap="30px"
    >
      <img src="/assets/images/step2.jpg" [ngStyle.lt-md]="{ width: '100%' }" />
      <p>
        As COVID-19 continues to spread, more individuals, communities, and
        entire nations are feeling the impact in their daily lives. Beyond the
        global health crisis, the coronavirus is having a severe economic impact
        on individuals, small businesses, and medical organizations. The urgent
        need for medical supplies, basic necessities, and quality healthcare is
        only increasing as more communities become affected by COVID-19. And
        with hundreds of thousands of individuals across the globe in
        quarantine, there is a growing need for financial support.
      </p>
    </div>

    <div
      fxLayout="center"
      fxLayout.lt-md="column-reverse"
      fxLayoutAlign="start start"
      fxLayoutGap="30px"
    >
      <div>
        <p>
          As COVID-19 continues to spread, more individuals, communities, and
          entire nations are feeling the impact in their daily lives. Beyond the
          global health crisis, the coronavirus is having a severe economic
          impact on
        </p>
        <p>
          individuals, small businesses, and medical organizations. The urgent
          need for medical supplies, basic necessities, and quality healthcare
          is only increasing as more communities become affected by COVID-19.
          And with hundreds of thousands of individuals across the globe in
          quarantine, there is a growing need for financial support.
        </p>
      </div>
      <img fxHide.lt-md src="/assets/images/step2.jpg" />
    </div>
  </div>
</div>

<div
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="30px"
  style="margin: 100px auto; width: 80%"
>
  <h2 class="bold">The leader in online fundraising</h2>
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="30px">
    <div
      *ngFor="let item of [1, 2, 4, 5, 6, 44]"
      fxLayout="row"
      fxLayoutAlign="start start"
      fxLayoutGap="20px"
      style="margin: 30px"
    >
      <mat-icon color="primary">phone_android</mat-icon>
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
        <h3 class="bold">Mobile app</h3>
        <div
          fxLayout="column"
          fxLayoutAlign="start start"
          fxLayoutGap="0px"
          class="color-gray"
        >
          <span> The GoFundMe app makes it</span>
          <span>simple to launch and manage your</span>
          <span>fundraiser on the go. </span>
        </div>
      </div>
    </div>
  </div>
  <a
    routerLink="/create"
    mat-raised-button
    ngClass.xs="btn-large"
    color="primary"
    >Start a GoFundMe
  </a>
</div>
