button {
  width: max-content;
}

h1.bold,
h2.bold {
  font-weight: 900;
  font-size: x-large;
}

.mobile-header {
  width: 94%;
  margin: 0px auto;
}

.illustration {
  background-image: url(../../../assets/images/homepage-illustration-1920w.png);
  background-position: 50% center;
  padding: 100px 100px 200px 100px;
  height: 90% !important;
}

.full-width {
  width: 100%;
}

mat-icon.mat-icon {
  color: primary;
}

.trending-topic {
  color: #960064;
}

.notes {
  margin: 100px auto;
}

.img-mobile {
  max-width: 100%;
}

nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
}

.ready-to-start-fundraising {
  margin: 4rem auto;
  max-width: 70%;
  text-align: center;
  a,
  h3 {
    font-size: large;
    padding: 0.5rem 0.4rem;
  }
}

app-public-fund-list{
  margin: 0px auto;
  padding: unset;
}