<div class="container">
<nav class="mat-elevation-z14">
    <mat-toolbar class="toolbar elevation-mat28" [classList]="'bg-white'" fxLayout="row"
        fxLayoutAlign="space-between center" fxLayoutGap="20px">
        <div fxLayout="row">
            <button fxHide.gt-xs mat-icon-button (click)="startSidenavRef.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <!-- LOGO -->
        <img [routerLink]="['/']" class="logo" routerLinkActive="router-link-active" src="/assets/images/icon.svg">
           

        <!-- USER account MENU -->
        <a *ngIf="authService.isLoggedIn() && currentUser" fxHide.lt-sm mat-button [matMenuTriggerFor]="account"
            (onMenuClose)="accountCaret = !accountCaret" (onMenuOpen)="accountCaret = !accountCaret"
            class="nav-link mat-button">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="3px">
                <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="3px">
                    <div class="avatar-contain">
                        {{ currentUser?.firstName?.charAt(0) | titlecase }}
                        {{ currentUser?.lastName?.charAt(0) | titlecase }}
                    </div>
                    <span>
                        {{ currentUser?.firstName |titlecase}}
                    </span>
                </div>
                <mat-icon>{{ accountCaret ? "expand_more" : "expand_less" }}</mat-icon>
            </div>
        </a>

        <mat-menu #account="matMenu">
            <a mat-menu-item routerLink="/notification" class="mat-menu-item">
                Notifications
            </a>

            <a mat-menu-item routerLink="/account-setting" class="mat-menu-item">
                Account settings
            </a>
            <mat-divider></mat-divider>
            <a mat-menu-item fxLayoutAlign="center" routerLink="/sign-in" (click)="authService.logOut()">Sign out</a>
        </mat-menu>
    </mat-toolbar>
</nav>

<mat-sidenav-container class="sidenav-container"
[style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav role="navigation" fixedTopGap="56" #startSidenavRef [mode]="mobileQuery.matches ? 'over' : 'side'"
    [fixedInViewport]="mobileQuery.matches" opened>
        <mat-nav-list dense>
            <a mat-list-item routerLink="home">
                <mat-icon mat-list-icon class="mat-18">home</mat-icon>Home
            </a>
            <a mat-list-item routerLink="statistics">
                <mat-icon mat-list-icon class="mat-18">trending_up</mat-icon>Statistics
            </a>
            <a mat-list-item routerLink="withdrawals">
                <mat-icon mat-list-icon class="mat-18">account_balance_wallet</mat-icon>Withdrawals
            </a>
            <a mat-list-item routerLink="payments">
                <mat-icon mat-list-icon class="mat-18">account_balance</mat-icon>Payments
            </a>
            <a mat-list-item routerLink="helps">
                <mat-icon mat-list-icon class="mat-18">help_outline</mat-icon>Helps
            </a>
        
            <a *ngIf="authService.isLoggedIn() && currentUser" mat-button [matMenuTriggerFor]="account" fxHide.gt-xs
            (onMenuClose)="accountCaret = !accountCaret" (onMenuOpen)="accountCaret = !accountCaret"
            class="nav-link mat-button">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="3px">
                <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="3px">
                    <div class="avatar-contain">
                        {{ currentUser?.firstName?.charAt(0) | titlecase }}
                        {{ currentUser?.lastName?.charAt(0) | titlecase }}
                    </div>
                    <span>
                        {{ currentUser?.firstName |titlecase}}
                    </span>
                </div>
                <mat-icon>{{ accountCaret ? "expand_more" : "expand_less" }}</mat-icon>
            </div>
        </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content role="main">
        <!-- Toggle button -->
        <a (click)="startSidenavRef.toggle()" class="toggle" fxHide.lt-sm>
            <mat-icon mat-list-icon class="mat-18">{{ startSidenavRef.opened?'arrow_back_ios':'arrow_forward_ios'}}
            </mat-icon>
        </a>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>