<div class="tab-content">
  <mat-tab-group [disableRipple]="false">
    <mat-tab
      label="{{ index === 0 ? 'Donations' : 'Invited contacts' }}"
      draggable="true"
      *ngFor="let tab of [0, 1]; let index = index"
    >
      <div *ngIf="index === 0">
        <donations-tab-conntent></donations-tab-conntent>
      </div>

      <div class="tab-content" *ngIf="index === 1">
        <invited-contacts-tab-content></invited-contacts-tab-content>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
