<div class="terms_page">
    <h1> Legas Terms of Service </h1>
    <h3> Date of Last Revision: 02/03/2022</h3>
    <h3>Terms of Service </h3>
    <p>Subject to these Terms of Service, as amended from time to time (“Terms of Service”), Highlight
        Software Design PLC provides the Legas fund platform to you through its website at
        www.Legasfund.com and attendant mobile applications (collectively, with any new features and
        applications, the “Platform”) and related services (collectively, with the Platform, including any
        new features and applications, the “Legas fund Services''). If you are an Organizer (as defined
        below), Beneficiary (as defined below) to a Fundraiser (as defined below), comment contributor,
        or Donor (as defined below) (collectively referred to herein as a “User”) located anywhere in the
        world, you are contracting with Highlight Software Design PLC, House number 1377, woreda
        13, Addis Ababa city, Ethiopia. Unless specifically indicated otherwise, for purposes of the
        following Terms of Service, “Legas fund,” “we,” “us,” “our,” and other similar terms, shall refer to
        the party with whom you are contracting.</p>

    <p>We reserve the right, at our sole discretion, to change or modify portions of these Terms of
        Service at any time and without notice. When we do this, we will post the revised Terms of
        Service on this page and will indicate the date of such revision.
    </p>
    <p>Your continued use of the Services after the date of any such changes constitutes your
        acceptance of the new Terms of Service. To the extent allowed by law, the English version of
        these Terms of Service is binding and other translations are for convenience only. If you do not
        wish to accept the new Terms of Service, you may discontinue your use of the Services.
    </p>
    <p>
        In addition, when using the Services, you will be subject to additional applicable policies
        including without limitation, the Privacy Policy. All such terms are hereby incorporated by
        reference into these Terms of Service (provided, however, these Terms of Service will take
        precedence in the event of conflict). We shall resolve any such conflicts in our sole discretion,
        and all of our determinations are final.
    </p>
    <h3>ACCESS AND USE OF THE SERVICES</h3>
    <p><b>Legas fund Services Description:</b> The Legas fund Services are offered as a platform to
        allow an individual, entity or non-profit organization (the “Organizer”) to post a fundraiser
        (“Fundraiser”) to the Platform to accept monetary donations (“Donations”) from donors
        (“Donors”) on behalf of the beneficiary of the Fundraiser (“Beneficiary”). Neither the Organizer
        nor the Fundraiser will provide goods or services in exchange for Donations.
    </p>
    <p>
        <b>Payment Processor:</b> Legas fund is not a payment processor and does not hold any funds.
        Instead, Legas fund uses third-party payment processing partners to process Donations for a
        Fundraiser (“Payment Processor”). You acknowledge and agree that the use of Payment
        Processors are integral to the Services and that we exchange information with Payment
        Processors in order to facilitate the provision of Services.
    </p>
    <p>
        <b>Transaction Fees:</b> Although there are no fees to Organizers to set up a Fundraiser, please
        keep in mind that transaction fees, including credit and debit charges, are deducted from each
        donation (hereinafter and on the website referred to as “Transaction Fees”). The transaction fee
        for payment in ethiopian birr is 7.5% ETB inclucding VAT per donation.
    </p>
    <p>
        <b>The Services are Platforms; We are not a Broker, Financial Institution, Creditor or
            Charity:</b> The Services are administrative platforms only. Legas fund facilitates the Fundraiser
        of the Organizers and permits Donors to make donations to these Fundraisers. Legas fund is
        not a broker, agent, financial institution, creditor or nonprofit corporation.
        <br><br>
        All information and content provided by Legas fund relating to the Services is for informational
        purposes only, and Legas fund does not guarantee the accuracy, completeness, timeliness or
        reliability of any such information or content. No content is intended to provide financial, legal,
        tax or other professional advice. Before making any decisions regarding any Fundraisers,
        Charities (defined hereinafter), Donations, Donors, or any information or content relating to the
        Services, you should consult your financial, legal, tax or other professional advisor as
        appropriate. You acknowledge that all information and content accessed by you using the
        Services is at your own risk.
        <br><br>
        Legas fund has no control over the conduct of, or any information provided by, a User and
        hereby disclaims all liability in this regard to the fullest extent permitted by applicable law. We do
        not guarantee that a Fundraiser will obtain a certain amount of Donations or any Donations at
        all. We do not endorse any Fundraiser, User, or cause and we make no guarantee, express or
        implied, that any information provided through the Services is accurate. We expressly disclaim
        any liability or responsibility for the outcome or success of any Fundraiser. You, as a Donor,
        must make the final determination as to the value and appropriateness of contributing to any
        User or Fundraiser.
        <br><br>
        <b>No Solicitation:</b> The Platform is offered to help Organizers raise money. Legas fund merely
        provides the technology to allow Fundraisers to connect with Donors. The existence of the
        Services is not a solicitation of donations by Legas fund, and Legas fund does not engage in
        any solicitation activities, or consult on the solicitation of contributions from the public, on behalf
        of any individual, entity, or organization. By using the Services, you understand and agree that
        Legas fund shall not be responsible for the use of your Donations or the amount of funds raised
        for the User or Fundraiser.
        <br><br>
        <b>Donors:</b> All Donations are at your own risk. When you make a Donation through the Platform,
        it is your responsibility to understand how your money will be used. Legas fund is not
        responsible for any offers, promises, rewards or Promotions (defined below) made or offered by
        Users or Fundraisers; such conduct violates these Terms of Service. We do not and cannot
        verify the information that Users or Fundraisers supply, nor do we represent or guarantee that
        the Donations will be used in accordance with any fundraising purpose prescribed by a User or
        Fundraiser or in accordance with applicable laws. Notwithstanding the foregoing, we take
        possible fraudulent activity and the misuse of funds raised very seriously. If you have reason to
        believe that a User or Fundraiser is not raising or using the funds for their stated purpose,
        please use the “Report” button on the Fundraiser to alert our team of this potential issue and we
        will investigate.
        <br><br>
        <b>Organizer:</b> You, as an Organizer, represent, warrant, and covenant that: (i) all information you
        provide in connection with a Fundraiser or Beneficiary is accurate, complete, and not likely to
        deceive reasonable Users; (ii) all Donations contributed to your Fundraiser will be used solely
        as described in the materials that you post or otherwise provide; (iii) if you withdraw donations
        believed by reasonable Donors to be raised on behalf of someone other than you (i.e., the
        Beneficiary), all Donations will be given to and/or spent on behalf of the Beneficiary; (iv) if you
        add a Beneficiary through the Services, you relinquish control of the Donations(v) you will not
        infringe the rights of others; (vi) you will comply with all relevant and applicable law and financial
        reporting obligations, including but not limited to laws and regulations relating to registration, tax
        reporting, political contributions, and asset disclosures for your Fundraiser; (vii) to the extent you
        share with us any personal data of any third party for any purpose, including the names, email
        addresses and phone numbers of your personal contacts, you have the authority (including any
        necessary consents), as required under applicable law, to provide us with such personal data
        and allow us to use such personal data for the purposes for which you shared it with us; and
        (viii) you will not provide or offer to provide goods or services in exchange for Donations. You
        authorize Legas fund, and Legas fund reserves the right, to provide information relating to your
        Fundraiser to Donors, Beneficiaries of your Fundraiser or law enforcement, and to assist in any
        investigation thereof.
        <br><br>
        If you use the Services as an agent of a Charity to raise funds for such Charity, you represent
        and warrant that: (a) you are a representative of the Charity, which representative is authorized
        to raise funds for the Charity and bind the Charity to these Terms of Service; (b) you are raising
        funds for a Charity, with a cause or activity that is legal under all applicable federal, state,
        provincial, territorial and local laws and regulations; (c) all donated funds will be used solely for
        the purpose you have stated on and in connection with your Fundraiser, and under no
        circumstances may you use the funds for any other purpose; (d) your Charity has and will
        maintain tax-exempt status under applicable law.
        <br><br>
        <b>Your Registration Obligations:</b> You may be required to register with Legas fund in order to
        access and use certain features of the Services. If you choose to register for the Services, you
        agree to provide and maintain true, accurate, current and complete information about yourself or
        your Charity as prompted by the Services’ registration form. Organizers must register using their
        true identities (or the identities of the Charities’ authorized representatives), including their
        name, address and any image or video purporting to depict the Organizer or the Beneficiary of
        such Fundraiser. You agree to keep registration information current and up to date.
        Registration data and certain other information about you are governed by these Terms of
        Service, including our Privacy Policy. Certain aspects of our Services may also require you to
        register with, and agree to the terms of, third-party service providers (e.g., Payment
        Processors), with whom Legas fund has entered into contracts, in order to be able to benefit
        from their services. If Legas fund or one of our Payments Processors at any time discovers that
        the information you provided about you or the purpose of your Fundraiser is incorrect or violates
        any of these Terms of Service or their terms of service, your access to the Services may be
        suspended and/or terminated with immediate effect and fines may be applied by relevant
        authorities, which will in all such cases be payable by you. You acknowledge and agree that the
        use of Payment Processors are integral to the Services and that we exchange information with
        such third parties in order to facilitate the provision of Services as set out in our Privacy Policy.
        <br><br>
        <b>Charities:</b> The Legas fund Services include the features and services described here. All
        Donations are subject to a Transaction Fee for each Donation. <br>
        A. Removal of a Charity from our Database. If you are the authorized representative of a
        Charity, and you do not wish for your Charity to appear in Legas fund’s searchable
        database, you may contact us highlight.software.design@gmail.com to request that your Charity be removed
        from our database. Your email should include your full name, title, and an email address
        and phone number associated with your Charity. Please note that if your Charity is
        removed from the Legas fund’s database, it will not be eligible to receive contributions
        through the Platform. <br>
        B. Receiving Funds. As a Charity, receipt of Donations, minus any applicable Transaction
        Fees, is based upon and subject to the applicable Payment Processor’s procedures and
        terms. Legas fund is not a payment processor and does not hold funds.
        <br><br>
        <b>Taxes:</b> It is your responsibility to determine what, if any, taxes apply to the Donations you
        receive through your use of the Services. It is solely your responsibility to assess, collect, report
        or remit the correct tax, if any, to the appropriate tax authority.
        <br><br>

        <b>Member Account, Password and Security:</b> You are responsible for maintaining the
        confidentiality of your password and account, if any, and are fully responsible for any and all
        activities that occur under your password or account. You agree to (a) immediately notify Legas
        fund of any unauthorized use of your password or account or any other breach of security, and
        (b) sign out from your account at the end of each session when accessing the Services. Legas
        fund will not be liable for any loss or damage arising from your failure to comply with this
        Section.
        <br><br>
        <b>Modifications to the Services:</b> Legas fund reserves the right to modify, suspend or
        discontinue, temporarily or permanently, the Services (or any part thereof) at any time and for
        any reason, with or without notice, and without any liability to you or to any third party for any
        claims, damages, costs, or losses resulting therefrom.
        <br><br>
        <b>Content Manifestly Made Public by the User: </b>
        <br><br>
        <b>A. Public Content;</b> Public Display of Information and Donations. Some of your activity on
        and through the Services is public, such as content you post publicly on the Platform
        (including descriptions, texts, music, sound, information, data, software, graphics,
        comments, photos, videos, images, trademarks, logos, brands or other materials you
        upload or post through the Services or share with other Users or recipients) (“User
        Content”). Additionally, User profile information, including your first and last name, public
        email address, organization, personal biography, and other information you enter in
        connection with your User profile may be displayed to other Users to facilitate User
        interaction within the Services. For example, as an Organizer, you might post your
        personal data – such as information about a recent hospital stay – which data might be
        considered sensitive data. In addition, as a Donor, you have the option to publicly display
        your Donation for all to see, including on search engines (like Google and Yahoo). To
        keep the details of your Donation private from the general public, click the “Private”
        checkbox during the Donation process. Please remember that if you choose to provide
        information using certain public features of the Services, then that information is
        governed by the privacy settings of those particular features and may be publicly
        available. Individuals reading such information may use or disclose it to other individuals
        or entities without our knowledge and without your knowledge, and search engines may
        index that information. We therefore urge you to think carefully about including any
        specific information you may deem private in content that you create or information that
        you submit through the Services. Please see our Privacy Policy for information on the
        ways that we may collect, use, and store certain information about you and your use of
        the Services.
        <br><br>
        <b>B. Other Information.</b> Please be advised that User Content and other information, solicited
        or unsolicited, that you provide to Legas fund may be publicly accessible, such as
        information you post in forums, comment sections or in response to surveys we may
        send out. We also collect information through customer support communications, your
        communications to us of ideas for new products or modifications to existing products,
        and other unsolicited submissions, or any questions, comments, suggestions, ideas,
        feedback or other information about the Services (collectively, with publicly-accessible
        information, “Other Information”). By sending us Other Information, (a) you agree that we
        are under no obligation of confidentiality, expressed or implied, with respect to the Other
        Information; (b) you acknowledge that we may have something similar to the Other
        Information already under consideration or in development; (c) you agree that Legas
        fund will be entitled to the unrestricted use and dissemination of the Other Information for
        any purpose, commercial or otherwise, without acknowledgment or compensation to
        you; (d) you represent and warrant that you have all rights necessary to submit the Other
        Information; (e) to the extent necessary, you hereby grant to Legas fund a fully paid,
        royalty-free, perpetual, irrevocable, worldwide, non-exclusive, and fully transferable and
        sublicensable right (through multiple tiers) and license to use, reproduce, perform,
        display, distribute, adapt, modify, re-format, create derivative works of, and otherwise
        commercially or non-commercially exploit in any manner, any and all Other Information,
        and to sublicense the foregoing rights; and (f) you irrevocably waive, and cause to be
        waived, against Legas fund and its Users any claims and assertions of any moral rights
        contained in such Other Information. This Other Information section shall survive any
        termination of your account or the Services. <br><br>
        You acknowledge and agree that Legas fund may preserve Other Information, as well as
        User Content, and may also disclose your Other Information or User Content if required
        to do so by law or in the good-faith belief that such preservation or disclosure is
        reasonably necessary to (a) comply with legal process, applicable laws or government
        requests; (b) enforce these Terms of Service; (c) respond to claims that any User
        Content violates the rights of third parties; or (d) protect the rights, property, or personal
        safety of Legas fund, its Users or the public.
        <br><br>
        <b>Third-Party Communications:</b> If you use any feature of the Services that allows you to
        communicate with third parties (such as to refer a third party to the Services or to communicate
        with them regarding a Fundraiser or a donation), either by submitting data about the third party
        (“Third-Party Data”) to the Services or otherwise permitting the Services to automatically access
        Third-Party Data in your possession, you acknowledge and agree that you have the authority of
        the relevant third party for us to access and use the relevant Third-Party Data and that you have
        notified these third parties and informed them how their information is collected and used by
        Legas fund to provide the Services. We reserve the right to identify you as the person who has
        made the referral in any messages that are sent to them. We use Third-Party Data to (a) contact
        such third party using the Third-Party Data provided, and/or (b) provide you with an editable
        template message designed to facilitate communications between you and such third party
        through the Services. In addition to sending the foregoing communications, we may also send
        reminders or related messages to you and to third parties on your behalf from time to time
        where permitted by applicable law. In each case, any such communication sent to third parties
        using Third-Party Data will provide a means to “opt out” of receiving further communication of
        the same nature.
        <br><br>
        <b>Promotions on the Platform:</b> you are not permitted to offer any contest, competition, reward,
        give-away, raffle, sweepstakes or similar activity (each, a “Promotion”) on or through the
        Services.
        <br><br>
        <b>Sales Prohibited on the Platform:</b> You are not permitted to offer any good or service in
        exchange for a Donation on the Platform.
        <br><br>
        <b>Data Retention:</b> You acknowledge that Legas fund has no obligation to you to retain data
        relating to any account or Fundraiser. You acknowledge that Legas fund reserves the right to
        delete data or to terminate accounts or Fundraisers at any time and for any reason, with or
        without notice, and without any liability to you or to any third party for any claims, damages,
        costs or losses resulting therefrom.
    </p>
    <h3>PROHIBITED CONDUCT</h3>
    <p>
        You are solely responsible for compliance with all applicable law in relation to your Fundraiser or
        use of the Services. You are further solely responsible for all User Content that you upload,
        post, publish, display, transmit or otherwise use. If you are not the Beneficiary of the Fundraiser
        you organize, you agree to deliver funds to the ultimate beneficiary directly and as soon as
        possible. You agree to fully cooperate with any request we make for evidence we deem
        necessary to verify your compliance with these Terms of Service.
        <br><br>
        The following are examples of User Content and/or use that is illegal or prohibited by Legas
        fund. This list is not exhaustive and we reserve the right to remove any Fundraiser and/or
        investigate any User who, in our sole discretion, violates any of the terms or spirit of these
        Terms of Service. As we investigate your Fundraiser, a User, or User Content, we may consider
        all available material including but not limited to social media, related news, and any other
        information that we, in our sole discretion, deem relevant in our review. We further reserve the
        right, without limitation, to ban or disable your use of the Services, remove the offending User
        Content, suspend or terminate your account, stop payments to any such Fundraiser, freeze or
        place a hold on Donations, and report you to law enforcement authorities or otherwise take
        appropriate legal action including seeking restitution on behalf of ourselves and/or our Users.
        <br><br>
        Without limiting the foregoing, you agree and represent, warrant and covenant: <br>
        A. not to use the Services to raise funds or establish or contribute to any Fundraiser with
        the implicit or explicit purpose of promoting or involving: <br>
        a. the violation of any law, regulation, industry requirement, or third-party guidelines
        or agreements by which you are bound, including those of payment card
        providers and transaction processors that you utilize in connection with the
        Services; <br>
        b. any election campaigns that are not run by a registered organization within the
        supported country; <br>
        c. User Content or Fundraisers that are fraudulent, misleading, inaccurate,
        dishonest, or impossible; <br>
        d. drugs, narcotics, steroids, controlled substances, pharmaceuticals or similar
        products or therapies that are either illegal, prohibited, or enjoined by an
        applicable regulatory body; legal substances that provide the same effect as an
        illegal drug; or other products, medical practices, or any related equipment or
        paraphernalia that have been found by an applicable regulatory body to cause
        consumer harm; <br>
        e. knives, explosives, ammunition, firearms, or other weaponry or accessories; <br>
        f. annuities, investments, loans, equity or lottery contracts, lay-away systems,
        off-shore banking or similar transactions, money service businesses (including
        currency exchanges, check cashing or the like), pyramid schemes, “get rich quick
        schemes” (i.e., Investment opportunities or other services that promise high
        rewards), network marketing and referral marketing programs, debt collection or
        crypto-currencies; <br>
        g. gambling, gaming and/or any other activity with an entry fee and a prize,
        including, but not limited to raffles, casino games, sports betting, fantasy sports,
        horse or greyhound racing, lottery tickets, raffle tickets, auctions and other
        ventures that facilitate gambling, games of skill or chance (whether or not it is
        legally defined as a lottery), Promotions involving monetary rewards, including
        gift cards, or sweepstakes; <br>
        h. User Content that reflects or promotes behavior that we deem, in our sole
        discretion, to be an abuse of power or in support of hate, violence, harassment,
        bullying, discrimination, terrorism, or intolerance of any kind relating to race,
        ethnicity, national origin, religious affiliation, sex, serious disabilities or diseases <br>
        i. the funding of a ransom, human trafficking or exploitation, vigilantism, bribes or
        bounty; <br>
        j. pornography or other sexual content; <br>
        k. offensive, graphic, perverse or sensitive content; <br>
        l. the receipt or grant of cash advances or lines of credit to yourself or to another
        person for purposes other than those purposes clearly stated in the Fundraiser; <br>
        m. publication of User Content (such as mug shots), where we deem, in our sole
        discretion, that the primary purpose of posting such User Content is to cause
        reputational harm; <br>
        n. the sale or resale of a good or service; <br>
        o. counterfeit music, movies, software, or other licensed materials without the
        appropriate authorization from the rights holder; <br>
        p. products or services that directly infringe or facilitate infringement upon the
        trademark, patent, copyright, trade secrets, or proprietary or privacy rights of any
        third party; <br>
        q. the unauthorized sale or resale of brand name or designer products or services; <br>
        r. the sale of goods or services that are illegally imported or exported; <br>
        s. any other activity that Legas fund may deem, in its sole discretion, to be in
        support of individuals and/or entities associated with alleged financial crimes
        including but not limited to corruption, bribery, tax evasion, fraud, and activities of
        a similar nature; or <br>
        t. any other activity that Legas fund may deem, in its sole discretion, to be
        unacceptable.
        <br> <br>
        B. not to use the Services to transmit or otherwise Upload any User Content that (i)
        infringes any intellectual property or other proprietary rights of any party; (ii) you do not
        have a right to Upload under any law or under contractual or fiduciary relationships; (iii)
        contains software viruses or any other computer code, files or programs designed to
        interrupt, destroy or limit the functionality of any computer software or hardware or
        telecommunications equipment; (iv) poses or creates a privacy or security risk to any
        person; (v) constitutes unsolicited or unauthorized advertising, promotional materials,
        commercial activities and/or sales, “junk mail,” “spam,” “chain letters,” “pyramid
        schemes,” “contests,” “sweepstakes,” or any other form of solicitation; or (vi) in the sole
        judgment of Legas fund, is objectionable or which restricts or inhibits any other person
        from using or enjoying the Services, or which may expose Legas fund or its Users to any
        harm or liability of any type;
        <br><br>
        C. not to interfere with or disrupt servers or networks connected to or used to provide the
        Services or their respective features, or disobey any requirements, procedures, policies
        or regulations of the networks connected to or used to provide the Services;
        <br><br>
        D. not to harvest, collect or publish personally identifiable information of others;
        <br><br>
        E. not to use another User’s account or URL without permission, impersonate any person
        or entity, falsely state or otherwise misrepresent your affiliation with a person or entity,
        misrepresent a Charity or Fundraiser through the Services, or post User Content in any
        inappropriate category or areas on the Services;
        <br><br>
        F. not to create any liability for Legas fund or cause us to lose (in whole or in part) the
        services of our Internet Service Provider(s), web hosting company or any other vendors
        or suppliers; <br><br>
        G. not to engage in any conduct that, in Legas fund’s sole judgment and discretion, restricts
        or inhibits any other User from using or enjoying the Services; <br><br>
        H. not to gain unauthorized access to the Services, or any account, computer system, or
        network connected to the Services, by any unauthorized or illegal means; <br><br>
        I. not to obtain or attempt to obtain any materials or information not intentionally made
        available through the Services; <br><br>
        J. not to use the Services to post, transmit or in any way exploit any information, software
        or other material for commercial purposes, or that contain advertising, except that using
        the Services for fundraising activities in accordance with these Terms of Service is
        expressly permitted; <br><br>
        K. not to transmit more request messages through the Services in a given period of time
        than a human can reasonably produce in the same period by using a conventional online
        web browser; <br><br>
        L. not to undertake any activity or engage in any conduct that is inconsistent with the
        business or purpose of the Services; or <br><br>
        Additionally, with respect to all Donations you make or accept through the Services, you agree
        and represent, warrant and covenant: <br><br>
        A. not to make or accept any Donations that you know or suspect to be erroneous,
        suspicious or fraudulent; <br><br>
        B. to maintain reasonable and standard security measures to protect any information
        transmitted and received through the Services, including without limitation, adhering to
        any security procedures and controls required by Legas fund from time to time; <br><br>
        C. to maintain a copy of all electronic and other records related to Fundraisers and
        Donations as necessary for Legas fund to verify compliance with these Terms of Service
        and make such records available to Legas fund upon our request. For clarity, the
        foregoing does not affect or limit your obligations to maintain documentation as required
        by applicable laws, rules, regulations, or governmental authority; and <br><br>
        D. at Legas fund’s request, to fully cooperate in the auditing of, investigation of (including
        without limitation, investigations by Legas fund, a Payment Processor, or a regulatory or
        governmental authority), and remedial efforts to correct any alleged or uncovered
        violation or wrongdoing of a User to whom, or Fundraiser or Donation to which, you are
        connected. <br><br>
        Legas fund reserves the right to refuse, condition, or suspend any Donations or other
        transactions that we believe in our sole discretion may violate these Terms of Service or harm
        the interests of our Users, business partners, the public, or Legas fund, or that expose you,
        Legas fund, or others to risks unacceptable to us. We may share any information related to your
        use of the Services with the appropriate financial institution, regulatory authority, or law
        enforcement agency consistent with our legal or contractual obligations. This information may
        include information about you, your account, your Donors, your Donations, and transactions
        made through or in connection with your use of the Services. <br><br>
    </p>
    <h3>DONOR CONDUCT</h3>
    <p>
        In order to contribute to a Fundraiser or to a Charity, a Donor will be required to provide Legas
        fund information regarding the Donor’s credit card or other payment instrument (“Payment
        Instrument”) that is linked to the Donor’s Legas fund account (a “Billing Account”). You, as a
        Donor, represent and warrant to Legas fund that such information is true, current and accurate
        and that you are authorized to use the applicable Payment Instrument. You agree that a certain
        minimum Donation amount may apply, and that all Donations are final and will not be refunded.
        Legas fund uses third-party payment processing partners to bill you through your Payment
        Instrument and Billing Account for any Donations made, and Donors acknowledge that by
        contributing a Donation to a Fundraiser, the Donor agrees to the processing, use, transfer or
        disclosure of data by the Payment Processors pursuant to these Terms of Service as well as
        any and all applicable terms set forth by our payment partners.</p>

    <h3>ORGANIZERS, BENEFICIARIES OR CHARITIES</h3>
    <p> <b>Account Holds:</b> From time to time, Legas fund may, in its sole discretion, place a hold on a
        Fundraiser account (a “Hold”), restrict Withdrawals (defined herein as the transfer of Funds
        raised to Beneficiary), initiate a reverse ACH transfer, secure reserves, or take similar actions to
        protect its interests and those of its Users. Some of the reasons that we may take such actions
        include, but are not limited to, our belief or determination, in our sole and absolute discretion,
        that: (i) information provided by an Organizer is false, misleading, or fraudulent, or funds are
        being used in a prohibited manner, (ii) the funds available should be provided directly to a
        person other than the Organizer, such as a legal beneficiary or person entitled by law to act on
        behalf of an Organizer, (iii) a Fundraiser or Organizer has violated these Terms of Service, (iv)
        the Organizer is colluding with Donors to engage in fraudulent activity, (v) there may be
        suspicious or fraudulent Donation activity, or (vi) such action(s) is required to comply with a
        court order, subpoena, writ, injunction, or as otherwise required under applicable laws and
        regulations. <br><br>
        <b>Withdrawing Donations from a Fundraiser:</b> While Legas fund strives to make
        Withdrawals available to you promptly, you acknowledge and agree that: (i) Withdrawals may
        not be available to you for use immediately, (ii) Legas fund does not guarantee that Withdrawals
        will be available to you within any specific time frame, and (iii) Legas fund expressly disclaims
        any and all responsibility for any delay in Withdrawals or your inability to access and use
        Withdrawals at any specified time, and any consequences arising from such delay or inability.
        You, as an Organizer and/or Beneficiary, are responsible for ensuring that the information you
        provide to Legas fund in order to process a Withdrawal, including bank account information, is
        accurate and up to date. </p>
    <h3>PAYMENT PROCESSORS</h3>
    <p>Legas fund uses Payment Processors to process Donations for your Fundraiser and thereafter
        deliver it to you. In order to withdraw funds from a Fundraiser, an Organizer or, if not the same,
        Beneficiary (collectively “Withdrawing Entity”) will be required to provide the Payment Processor
        information regarding bank account information (“Withdrawing Account”). You, as Withdrawing
        Entity, represent and warrant to Payment Processor and Legas fund that such information is
        true and that you are authorized to use the applicable Withdrawing Account.
        By setting up a Fundraiser or accepting the role of Beneficiary to a Fundraiser, the Withdrawing
        Entity agrees to the processing, use, transfer or disclosure of data by the Payment Processors
        pursuant to these Terms of Services as well as any and all applicable terms set forth by the
        applicable Payment Processors.</p>
    <h3>INTELLECTUAL PROPERTY RIGHTS</h3>
    <p><b>Services Content, Software and Trademarks:</b> You acknowledge and agree that the Services may contain
        content or features
        (“Services Content”) that are protected by copyright, patent, trademark, trade secret or other
        proprietary rights and laws. Except as expressly authorized by Legas fund, you agree not to
        modify, copy, frame, scrape, rent, lease, loan, sell, distribute or create derivative works based on
        the Services or the Services Content, in whole or in part, except that the foregoing does not
        apply to your own User Content that you legally upload to the Services. In connection with your
        use of the Services you will not engage in or use any data mining, spiders, robots, scraping or
        similar data gathering or extraction methods. If you are blocked by Legas fund from accessing
        the Services (including by blocking your IP address), you agree not to implement any measures
        to circumvent such blocking (e.g., by masking your IP address or using a proxy IP address). Any
        use of the Services or the Services Content other than as specifically authorized herein is
        strictly prohibited. The technology and software underlying the Services or distributed in
        connection therewith are the property of Legas fund, our affiliates and our partners (the
        “Software”). You agree not to copy, modify, create a derivative work of, reverse engineer,
        reverse assemble or otherwise attempt to discover any source code, sell, assign, sublicense, or
        otherwise transfer any right in the Software. Any rights not expressly granted herein are
        reserved by Legas fund.
        <br><br>
        The Legas fund name and logos are trademarks and service marks of Highlight Software
        Design PLC (collectively the “Legas fund Trademarks”). Other company, product, and service
        names and logos used and displayed via the Services may be trademarks or service marks of
        their respective owners, who may or may not endorse or be affiliated with or connected to Legas
        fund. Nothing in these Terms of Service or the Services should be construed as granting, by
        implication, estoppel, or otherwise, any license or right to use any of Legas fund Trademarks
        displayed on the Services, without our prior written permission in each instance. All goodwill
        generated from the use of Legas fund Trademarks will inure to our exclusive benefit.
        Third-Party Material: Under no circumstances will Legas fund be liable in any way for any
        content or materials of any third parties (including Users) or any User Content (including, but not
        limited to, for any errors or omissions in any User Content), or for any loss or damage of any
        kind incurred as a result of the use of any such User Content. You acknowledge that Legas fund
        does not pre-screen User Content, but that Legas fund and its designees will have the right (but
        not the obligation) in their sole discretion to refuse, remove, or allow any User Content that is
        available via the Services at any time and for any reason, with or without notice, and without any
        liability to you or to any third party for any claims, damages, costs or losses resulting therefrom.

        <br><br>
        <b>User Content Transmitted Through the Services:</b> With respect to the User Content, you
        represent and warrant that you own all right, title and interest in and to, or otherwise have all
        necessary rights and consents to (and to allow others to) fully exploit, such User Content,
        including, without limitation, as it concerns all copyrights, trademark rights and rights of publicity
        or privacy related thereto. By uploading, sharing, providing, or otherwise making available any
        User Content, or any portion thereof, in connection with the Services, you hereby grant and will
        grant Legas fund and its affiliated companies and Users a nonexclusive, worldwide, royalty free,
        fully paid up, transferable, sublicensable, perpetual, irrevocable license to copy, display, upload,
        perform, distribute, store, modify and otherwise use your User Content in connection with the
        operation of the Services or the promotion, advertising or marketing thereof, in any form,
        medium or technology now known or later developed. Without limiting the foregoing, if any User
        Content contains your name, image or likeness, you hereby release and hold harmless Legas
        fund and its contractors and employees, from (i) all claims for invasion of privacy, publicity or
        libel, (ii) any liability or other claims by virtue of any blurring, distortion, alteration, optical illusion,
        or other use or exploitation of your name, image or likeness, and (iii) any liability for claims
        made by you (or any successor to any claim you might bring) in connection with your User
        Content, name, image or likeness. You waive any right to inspect or approve any intermediary
        version(s) or finished version(s) of the results of the use of your User Content (including your
        name, image or likeness). Further, if any person (other than you) appears in your User Content,
        you represent and warrant that you have secured all necessary licenses, waivers and releases
        from such person(s) for the benefit of Legas fund in a manner fully consistent with the licenses,
        waivers and releases set forth above. You further acknowledge that your participation in the
        Services and submission of User Content is voluntary and that you will not receive financial
        compensation of any type associated with the licenses, waivers, and releases set forth herein
        (or Legas fund’s exploitation thereof), and that the sole consideration for subject matter of this
        agreement is the opportunity to use the Services.
        <br><br>
        We do not guarantee that any Services Content will be made available through the Services.
        We reserve the right to, but do not have any obligation to (i) remove, edit or modify any Services
        Content or User Content, in our sole discretion, at any time, without notice to you and for any
        reason (including, but not limited to, upon receipt of claims or allegations from third parties or
        authorities relating to such Services Content or User Content, or if we are concerned that you
        may have violated these Terms of Service), or for no reason at all, and (ii) remove or block any
        Services Content or User Content from the Services.
        <br><br>
        Repeat Infringer Policy: Legas fund has adopted a policy of terminating, in appropriate
        circumstances and at Legas fund’s sole discretion, Users who are deemed to be repeat
        infringers. Legas fund may also at its sole discretion limit access to or terminate the Services
        and/or terminate the memberships of any Users who infringe any intellectual property rights of
        others, whether or not there is any repeat infringement.
    </p>
    <h3>THIRD PARTY WEBSITES/SERVICES</h3>
    <p>The Services or third parties may provide or facilitate links, tools, widgets or other features that
        allow you to access other sites, services and resources provided by third parties (collectively,
        “Third Party Resources”). Legas fund has no control over such Third Party Resources or any
        products, services or content made available through or by such Third Party Resources, or the
        business practices of the third parties providing such Third Party Resources, and Legas fund is
        not responsible for and does not endorse such Third Party Resources or the products, services
        or content made available thereby. You acknowledge that Legas fund is not responsible or liable
        for the content, functions, accuracy, legality, appropriateness or any other aspect of such Third
        Party Resources. You further acknowledge and agree that Legas fund will not be responsible or
        liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in
        connection with the use of or reliance on any content, events, goods or services available on or
        through any such Third Party Resources. Any dealings you have with third parties found while
        using the Services are between you and the third party and may be subject to additional terms
        provided by the third party, which you agree to by using such Third Party Resources.
    </p>
    <h3>INDEMNITY AND RELEASE</h3>
    <p>You agree to release, indemnify on demand and hold Legas fund and its affiliates and their
        officers, employees, directors and agents harmless from any and all losses, damages,
        expenses, including reasonable attorneys’ fees, costs, awards, fines, damages, rights, claims,
        actions of any kind and injury (including death) arising out of or relating to your use of the
        Services, any Donation or Fundraiser, any User Content, your connection to the Services, your
        violation of these Terms of Service or your violation of any rights of another. You agree that
        Legas fund has the right to conduct its own defense of any claims at its own discretion, and that
        you will indemnify Legas fund for the costs of its defense (including, but not limited to attorney’s
        fees).
    </p>
    <h3>DISCLAIMER OF WARRANTIES</h3>
    <p>YOUR USE OF THE SERVICES IS AT YOUR SOLE RISK. THE SERVICES ARE PROVIDED
        ON AN “AS IS” AND “AS AVAILABLE” BASIS. LEGAS FUND AND ITS AFFILIATES
        EXPRESSLY DISCLAIM AND EXCLUDE, TO THE FULLEST EXTENT PERMITTED BY
        APPLICABLE LAW, ALL WARRANTIES, CONDITIONS AND REPRESENTATIONS OF ANY
        KIND, WHETHER EXPRESS, IMPLIED OR STATUTORY, INCLUDING, BUT NOT LIMITED TO,
        THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
        PURPOSE, TITLE AND NON-INFRINGEMENT.
        LEGAS FUND AND ITS AFFILIATES MAKE NO WARRANTY OR CONDITION THAT (I) THE
        SERVICES WILL MEET YOUR REQUIREMENTS, (II) THE SERVICES WILL BE
        UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE, (III) THE RESULTS THAT MAY BE
        OBTAINED FROM THE USE OF THE SERVICES WILL BE ACCURATE OR RELIABLE, OR
        (IV) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION, OR OTHER MATERIAL
        PURCHASED OR OBTAINED BY YOU THROUGH THE SERVICES WILL MEET YOUR
        EXPECTATIONS.
    </p>
    <h3>LIMITATION OF LIABILITY</h3>
    <p>YOU EXPRESSLY UNDERSTAND AND AGREE THAT, TO THE FULLEST EXTENT
        PERMITTED BY APPLICABLE LAW, NEITHER Legas fund NOR ITS AFFILIATES WILL BE
        LIABLE FOR ANY (A) INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, PUNITIVE OR
        EXEMPLARY DAMAGES, (B) DAMAGES FOR LOSS OF PROFITS, (C) DAMAGES FOR
        LOSS OF GOODWILL, (D) DAMAGES FOR LOSS OF USE, (E) LOSS OR CORRUPTION OF
        DATA, OR (F) OTHER INTANGIBLE LOSSES (EVEN IF Legas fund HAS BEEN ADVISED OF
        THE POSSIBILITY OF SUCH DAMAGES), WHETHER BASED ON CONTRACT, TORT,
        NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, RESULTING FROM (I) THE USE OR
        THE INABILITY TO USE THE SERVICES; (II) THE COST OF PROCUREMENT OF
        SUBSTITUTE GOODS AND SERVICES RESULTING FROM ANY GOODS, DATA,
        INFORMATION OR SERVICES PURCHASED OR OBTAINED OR MESSAGES RECEIVED OR
        TRANSACTIONS ENTERED INTO THROUGH OR FROM THE SERVICES; (III) ANY
        PROMOTIONS AND RELATED PRIZES OR REWARDS MADE AVAILABLE THROUGH THE
        SERVICES; (IV) UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR
        TRANSMISSIONS OR DATA; (V) STATEMENTS OR CONDUCT OF ANY THIRD PARTY ON
        THE SERVICES; OR (VI) ANY OTHER MATTER RELATING TO THE SERVICES. TO THE
        FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL Legas fund’S
        TOTAL LIABILITY TO YOU FOR ALL DAMAGES, LOSSES (INCLUDING CONTRACT,
        NEGLIGENCE, STATUTORY LIABILITY OR OTHERWISE) OR CAUSES OF ACTION EXCEED
        THE AMOUNT YOU HAVE PAID LEGAS FUND IN THE LAST SIX (6) MONTHS, OR, IF
        GREATER, FIVE HUNDRED ETHIOPIAN BIRR (500 ETB).
    </p>
    <h3>TERMINATION</h3>
    <p>You agree that Legas fund, in its sole discretion, may suspend or terminate your account (or any
        part thereof) or your access to the Services and remove and discard any User Content or data
        at any time and for any reason, with or without notice, and without any liability to you or to any
        third party for any claims, damages, costs or losses resulting therefrom.
    </p>
    <h3>USER DISPUTES</h3>
    <p>You agree that you are solely responsible for your interactions with any other User in connection
        with the Services and Legas fund will have no liability or responsibility with respect thereto.
        Legas fund reserves the right, but has no obligation, to become involved in any way with
        disputes between you and any other User of the Services.
    </p>
    <h3>GENERAL</h3>
    <p>These Terms of Service constitute the entire agreement between you and Legas fund and
        govern your use of the Services, superseding any prior agreements between you and Legas
        fund with respect to the Services. You also may be subject to additional terms of service that
        may apply when you use affiliate or third-party services, third-party content or third-party
        software. These Terms of Service will be governed by the laws of Ethiopia. You and Legas fund
        agree to submit to the personal and exclusive jurisdiction of the state and federal courts located
        within Addis Ababa city, Addis Ababa State, Ethiopia. The failure of Legas fund to exercise or
        enforce any right or provision of these Terms of Service will not constitute a waiver of such right
        or provision. If any provision of these Terms of Service is found by a court of competent
        jurisdiction to be (or are otherwise) invalid, the parties nevertheless agree that the court should
        endeavor to give effect to the parties’ intentions as reflected in the provision, and the other
        provisions of these Terms of Service remain in full force and effect. You agree that regardless of
        any statute or law to the contrary, any claim or cause of action arising out of or related to use of
        the Services or these Terms of Service must be filed within one (1) year after such claim or
        cause of action arose or be forever barred. A printed version of this agreement and of any
        notice given in electronic form will be admissible in judicial or administrative proceedings based
        upon or relating to this agreement to the same extent and subject to the same conditions as
        other business documents and records originally generated and maintained in printed form. You
        may not assign these Terms of Service without the prior written consent of Legas fund, but
        Legas fund may assign or transfer these Terms of Service, in whole or in part, without
        restriction. If we fail to enforce any of our rights, that does not result in a waiver of that right. The
        section titles in these Terms of Service are for convenience only and have no legal or
        contractual effect. Notices to you may be made via either email or regular mail. The Services
        may also provide notices to you of changes to these Terms of Service or other matters by
        displaying notices or links to notices generally on the Platform. Legas fund may, at any time,
        assign our rights or delegate our obligations hereunder without notice to you in connection with
        a merger, acquisition, reorganization or sale of equity or assets, or by operation of law or
        otherwise. Nothing in these Terms shall prevent Legas fund from complying with the law. Legas
        fund shall not be liable for any delay or failure to perform resulting from causes outside its
        reasonable control, including, but not limited to, acts of God, war or threats of war, terrorism or
        threats of terrorism, riots, embargos, acts of civil or military authorities, fire, floods, accidents,
        governmental regulation or advisory, recognized health threats,as determined by the World
        Health Organization, the Centers for Disease Control, or local government authority or health
        agencies, strikes or shortages or curtailment of transportation facilities, fuel, energy, labor or
        materials.
    </p>
    <h3>PRIVACY POLICY</h3>
    <p>At Legas fund, we respect the privacy of our Users. For details please see our <a color="primary"
            [routerLink]="['/privacy']">Privacy Policy</a>.
        By using the Services, you consent to our collection and use of personal data as outlined
        therein.
    </p>

</div>