mat-card.mat-card {
  align-items: center;
}

form {
  margin: 30px auto !important;
}

.error-message {
  color: red;
  text-align: center;
  font-weight: 600;
}

mat-icon.mat-icon{
  cursor: pointer;
}

img{
  cursor: pointer;
}