
<mat-card
  fxLayout="column"
  [ngStyle.gt-sm]="{ width: '30%', margin: '30px auto' }"
  [ngStyle.sm]="{ width: '40%', margin: '30px auto' }"

  fxLayoutGap="10px"
>
  <mat-card-title>
    <h1 class="bold">Sign in</h1>
  </mat-card-title>
  <div>
    <mat-divider></mat-divider>
  </div>

  <mat-card-content>
    <form>
      <button mat-button class="btn-large facebook-btn">
        <mat-icon>facebook</mat-icon> Continue with Facebook
      </button>
      <div class="or-divider">
        <p class="bar"></p>
        <p style="font-weight: 600">or</p>
        <p class="bar"></p>
      </div>

      <mat-form-field appearance="outline">
        <mat-label> Email Address </mat-label>
        <input
          matInput
          class="matInput"
          placeholder="Email address"
          type="email"
          email
        />
        <mat-icon matSuffix></mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <button mat-raised-button color="primary" class="btn-large" type="submit">
        Sign in to GoFundMe
      </button>
    </form>
  </mat-card-content>
  <div>
    <mat-divider mat-inset></mat-divider>
  </div>
    <a
      link
      routerLink="sign-up"
      routerLinkActive="router-link-active"
      color="accent"
    >
      Forgot password?</a
    >
</mat-card>
<p class="footer-logo"></p>
