<h3 *ngIf="myFundraisers.length>0">{{"Campaigns you are organizer of"| translate}}</h3>
<h3 *ngIf="myFundraisers.length ===0 && !loading">{{"You have no fundraisers"|translate}} <a routerLink="/create">{{"Create now"| translate}}</a> </h3>
<div *ngIf="loading">
    <mat-progress-spinner mode="indeterminate" [value]="100" color="primary" class="loading-spinner">
    </mat-progress-spinner>
</div>
<p class="text-error">{{ errorMessage }}</p>
<my-fund-list 
[fundraisers]="myFundraisers"
[hasNext]="hasNext()"
(nextEvent)="nextPage()"
>
</my-fund-list>