<h1 matDialogTitle>{{"Are you sure to delete?"| translate}}</h1>
<p>{{"Fundraiser"| translate}}: {{ fundraiser?.title }}</p>
<mat-error *ngIf="errorMessage">{{ errorMessage }}</mat-error>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<mat-dialog-actions fxLayoutAlign="space-around center">
  <button mat-button matDialogClose mat-dialog-close="data">{{"Cancel"| translate}}</button>
  <button
    [disabled]="loading"
    mat-raised-button
    (click)="deleteFundraiser()"
    color="warn"
  >
    {{"Delete"| translate}}
  </button>
</mat-dialog-actions>
