<button
  mat-raised-button
  (click)="paymentInBirr()"
  fxFlexAlign="center"
  color="secondary"
>
  Payment in birr
</button>

<button
  mat-raised-button
  (click)="paymentInDollar()"
  fxFlexAlign="right"
  color="secondary"
>
  Payment in dollar
</button>

<div *ngIf="loading">
  <mat-progress-spinner
    mode="indeterminate"
    [value]="100"
    color="primary"
    class="loading-spinner"
  >
  </mat-progress-spinner>
</div>

<p *ngIf="!loading" class="text-error" style="text-align: center">
  {{ errorMessage }}
</p>

<h2 [attr.align]="'center'" *ngIf="dataSource.data.length === 0 && !loading">
  There are no payments for now, please check later.
</h2>

<div
  *ngIf="dataSource.data.length !== 0 && !loading"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="5px"
  class="table-container mat-elevation-z8"
>
  <button
    mat-raised-button
    (click)="exporter.exportTable('xlsx')"
    fxFlexAlign="center"
    color="primary"
  >
    Export
  </button>

  <mat-table
    matSort
    [dataSource]="dataSource"
    matTableExporter
    #exporter="matTableExporter"
    style="width: 100%"
    matSort
  >
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> First name </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.firstName | titlecase }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> Last name </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.lastName | titlecase }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="bankName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Bank name
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.bankName | titlecase }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="bankAccountNo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Bank account no.</mat-header-cell
      >
      <mat-cell *matCellDef="let element">
        {{ element.bankAccountNo }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Amount</mat-header-cell
      >
      <mat-cell *matCellDef="let element">
        {{ element.amount | number: ".2" }}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="fundraiserId">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Fundraiser ID</mat-header-cell
      >
      <mat-cell *matCellDef="let element">
        {{ element.fundraiserId }}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    <mat-row *matNoDataRow>No payments to export for now.</mat-row>
  </mat-table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 15, 20, 25, 50, 100]"
    showFirstLastButtons
    aria-label="Select page"
  >
  </mat-paginator>
</div>
