<nav class="mat-elevation-z2">
  <nav-bar></nav-bar>
</nav>

<div 
[ngStyle.gt-xs]="{ width: '80%', margin: '10px auto' }"
[ngStyle.lt-sm]="{ width: '96%', margin: '10px auto' }"
>
  <nav fxLayout="column" class="nav-sticky">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start start" style="width: 100%">
      <h1 class="bold" fxFlexAlign="start start" style="margin-right: auto">
        Your fundraisers
      </h1>
      <button (click)="createFundraiser()" mat-raised-button color="primary">
        Start a new fundraiser
      </button>
    </div>
  </nav>
  <nav mat-tab-nav-bar>
    <a matTabLink *ngFor="let tabLink of tabLinks" [routerLink]="tabLink" routerLinkActive #rlaRef="routerLinkActive"
      [active]="rlaRef.isActive">
      {{ tabLink | titlecase}}
    </a>
  </nav>
  <router-outlet></router-outlet>
</div>
