mat-card-content div.card-grid {
  display: grid;
  grid-column-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  grid-template-rows: auto;
}

mat-card-content div.detail-column {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: flex-start;
  width: fit-content;
}

.mat-card-image:first-child {
  max-width: 176px;
  max-height: 126px;
  margin: 0px !important;
  width: 100% !important;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

mat-card.mat-card {
  padding: 0 100px;
}

.tab-content {
  text-align: center;
  margin: 50px auto;
}

.tab-content-header {
  font-weight: 600 !important;
}

a {
  color: black;
  text-align: left;
  text-decoration: underline;
}


