<mat-toolbar
  [classList]="'bg-white'"
  fxLayout="row wrap"
  fxLayoutAlign="space-between center"
>
  <div>
    <!-- First menu -->
    <a
      mat-button
      [matMenuTriggerFor]="discover"
      #discovermenuTrigger="matMenuTrigger"
      (onMenuClose)="discoverCaret = !discoverCaret"
      (onMenuOpen)="discoverCaret = !discoverCaret"
      class="nav-link mat-button"
    >
      Discover
      <mat-icon>{{ discoverCaret ? "expand_more" : "expand_less" }}</mat-icon>
    </a>

    <mat-menu #discover="matMenu">
      <button mat-menu-item>Fundraisers</button>
      <button mat-menu-item>Success stories</button>
      <button mat-menu-item>Trending topic</button>
    </mat-menu>
    <!--
    SECOND MENU
 -->
    <a
      mat-button
      [matMenuTriggerFor]="fundrise"
      #funndrisemenuTrigger="matMenuTrigger"
      (onMenuClose)="fundriseCaret = !fundriseCaret"
      (onMenuOpen)="fundriseCaret = !fundriseCaret"
      class="nav-link mat-button"
    >
      <mat-menu #fundrise="matMenu">
        <a
          *ngFor="let category of categories"
          mat-menu-item
          routerLink="/{{ category.name }}"
          class="mat-menu-item"
        >
          {{ category.name }}
        </a>

        <mat-divider></mat-divider>
        <a mat-menu-item routerLink="'/see-all'">See all</a>
      </mat-menu>
      Fundrise for
      <mat-icon>{{ fundriseCaret ? "expand_more" : "expand_less" }}</mat-icon>
    </a>
  </div>

  <!-- LOGO -->
  <!-- <img src="/assets/images/logo.jpg" height="70%" width="10%" /> -->
  <div>
    <a
      mat-button
      [routerLink]="['my-fundraisers', currentUser?._id]"
      class="nav-link mat-button"
    >
      Your fundraisers
    </a>

    <!-- USER account MENU -->
    <a
      mat-button
      [matMenuTriggerFor]="account"
      #funndrisemenuTrigger="matMenuTrigger"
      (onMenuClose)="accountCaret = !accountCaret"
      (onMenuOpen)="accountCaret = !accountCaret"
      class="nav-link mat-button"
    >
      <mat-menu #account="matMenu">
        <a
          mat-menu-item
          [routerLink]="['my-fundraisers', currentUser?._id]"
          class="mat-menu-item"
        >
          Your fundraisers
        </a>
        <a mat-menu-item routerLink="/my-donations" class="mat-menu-item">
          Donations you've made
        </a>
        <a mat-menu-item routerLink="/account-setting" class="mat-menu-item">
          Account settings
        </a>
        <a mat-menu-item routerLink="/create" class="mat-menu-item">
          Start a new fundraiser
        </a>
        <a mat-menu-item routerLink="/help" class="mat-menu-item">
          Help center
        </a>
        <mat-divider></mat-divider>
        <a mat-menu-item routerLink="/sign-in">Sign out</a>
      </mat-menu>
      {{ currentUser?.firstName }}
      <mat-icon>{{ accountCaret ? "expand_more" : "expand_less" }}</mat-icon>
    </a>

    <button mat-icon-button fxShow="true" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
