<div 
fxLayout="column"
fxLayoutAlign="start center"
>
<mat-card
 fxFlex.xs="90"
 fxFlex.gt-xs="50"
>
    <mat-card-header>
        <div>
            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
                <p>Amount</p>
                <p>Payout method</p>
                <p>Intiated date</p>
            </div>
            <mat-divider inset></mat-divider>
        </div>
    </mat-card-header>
    <mat-card-content>
        <p>No completed withwrawals could be found at this time</p>
    </mat-card-content>
</mat-card>
</div>