
mat-checkbox.mat-checkbox {
  float: right;
}
.delete-btn {
  color: rgb(206, 6, 6);
  text-decoration: underline;
  padding-left: 5px;
}
.fudriser-setting-checkbox {
  margin: 20px 0px;
}
.setting {
  margin: 40px 0px;
}
.save {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.info-text {
  color: #999 !important;
  width: 70%;
}
.tab-content {
  margin: 50px 100px;
}
.tab-content.radio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
mat-radio-button.mat-radio-button {
  margin: 13px;
}

img {
  /* margin-right: -2rem !important; */
  max-width: 56px !important;
  max-height: 40px !important;
}


