
.tab-content {
  margin: 50px 100px;
}
.tab-content.radio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
mat-radio-button.mat-radio-button {
  margin: 13px;
}

img.title {
  /* margin-right: -2rem !important; */
  max-width: 100px !important;
  max-height: 80px !important;
}


