<nav class="mat-elevation-z2">
  <nav-bar></nav-bar>
</nav>
<div *ngIf="loading">
  <mat-progress-spinner
    mode="indeterminate"
    [value]="100"
    color="primary"
    class="loading-spinner"
  ></mat-progress-spinner>
</div>

<div *ngIf="!loading">
  <header fxHide.lt-md>
    <div [ngStyle.gt-sm]="{ width: '80%', margin: '20px auto' }">
      <div class="back-btn">
        <button
          (click)="backToDetailPage()"
          mat-raised-button
          class="bold"
          style="margin: 20px 0px"
        >
          <mat-icon class="mat-18">arrow_back_ios</mat-icon>
          {{ "Back" | translate }}
        </button>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
        <!-- TODO -->
        <img
          class="title"
          [ngStyle.xs]="{ width: '100%', height: '200px' }"
          [src]="fundraiser.image"
          onerror="this.src='/assets/images/placeholder.png'"
        />
        <div>
          <h2 style="padding: 0px !important; margin: 0px">
            {{ "Edit & Settings" | translate }}
          </h2>
          <p>{{ fundraiser.title }}</p>
        </div>
      </div>
    </div>
  </header>

  <mat-tab-group
    [disableRipple]="false"
    [style.backgroundColor]="'#fff'"
    style="margin: 40px auto !important; width: 80%; padding: auto"
    [ngStyle.lt-md]="{ width: '98%', margin: '40px auto' }"
    mat-align-tabs="start"
  >
    <mat-tab
      label="{{
        tab | translate
      }}"
      *ngFor="let tab of tabs; let index = index"
    >
      <span [ngSwitch]="index">
      <div *ngSwitchCase="0"  class="tab-content"
      [ngStyle.lt-md]="{ width: '100%', margin: '30px auto' }"
      >
        <overview [fundraiser]="fundraiser"></overview>
      </div>
      <div *ngSwitchCase="1" class="tab-content">
        <app-photo-tab-content [fundraiser]="fundraiser!"></app-photo-tab-content> 
      
      </div>
      <div *ngSwitchCase="2" class="tab-content">
        <story fxFlex="100" [fundraiser]="fundraiser"></story>
      </div>
      <div *ngSwitchDefault class="tab-content">
        <overview [fundraiser]="fundraiser"></overview>
      </div>
      </span>

      <!-- <div
        *ngIf="index === 0"
        class="tab-content"
      >
        <overview [fundraiser]="fundraiser"></overview>
      </div>
      <div
        *ngIf="index === 1"
        class="tab-content"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
       <app-photo-tab-content [fundraiser]="fundraiser!"></app-photo-tab-content> 
      </div>

      <div *ngIf="index === 2" class="tab-content">
        <story fxFlex="100" [fundraiser]="fundraiser"></story>
      </div> -->

      <!-- <div
        *ngIf="index === 3"
        [ngStyle.xs]="{ width: '100%', margin: '30px auto' }"
        class="tab-content radio"
      >
        <p
          style="width: 50%; text-align: justify"
          [ngStyle.lt-md]="{ width: '100%' }"
        >
          Choose how you would like to receive emails when others donate or
          comment on your fundraiser.
        </p>
        <mat-radio-group>
          <mat-radio-button color="primary" value="yes" style="display: block">
            Send me an email for every donation or comment
          </mat-radio-button>
          <mat-radio-button color="primary" value="no" style="display: block">
            Send me a daily highlight of donations and
            comments</mat-radio-button
          >
        </mat-radio-group>
        <button
          mat-raised-button
          color="primary"
          (click)="openAddPhotoOrVideoDialog()"
          class="btn-large"
          style="width: 30% !important"
        >
          {{ "Save changes" | translate }}
        </button>
      </div>-->
    </mat-tab>
  </mat-tab-group>
</div>
