<div
  *ngIf="!result"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutGap="22px"
>
  <button mat-raised-button color="primary">
    <label>
      Import payments excel
      <input
        hidden
        type="file"
        (change)="onFileChange($event)"
        multiple="false"
        accept=".xlsx, .csv, .xls"
      />
    </label>
  </button>
<p *ngIf="filename">{{filename}}</p>
</div>


<p class="text-error" *ngIf="errorMessage">{{errorMessage}}</p>

<mat-tab-group *ngIf="payments.length > 0">
  <mat-tab *ngIf="successfulPayments.length > 0" label="Successful payments">
    <app-successful-payments
      [payments]="successfulPayments"
    ></app-successful-payments>
  </mat-tab>
  <mat-tab
    *ngIf="unsuccessfulPayments.length > 0"
    label="Unsuccessful payments"
  >
    <app-unsuccessful-payments
      [payments]="unsuccessfulPayments"
    ></app-unsuccessful-payments>
  </mat-tab>
</mat-tab-group>
