<div *ngIf="fundraiser.donations?.length === 0" class="tab-content">
  <h3 style="font-weight: 600 !important">
    {{"Your fundraiser has no donations yet."|translate}}
  </h3>
  <h3>
    {{"Donations will show up here. Start by sharing your fundraiser with friends
    and family."| translate }}
  </h3>
  <button mat-raised-button color="primary" (click)="openShareDialog()">
    {{"Share fundraiser"| translate}}
  </button>
</div>

<!-- Donations section -->
<div *ngIf="fundraiser.donations?.length !== 0" class="donations">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="gappx">
    <h2 class="bold">{{"Donations"| translate }}({{ fundraiser.donations?.length }})</h2>
    <button mat-raised-button color="primary" color="primary" (click)="openShareDialog()">
      {{"Share fundraiser"| translate}}
    </button>
  </div>
  <div>
    <mat-divider></mat-divider>
  </div>

  <mat-list>
    <mat-list-item *ngFor="let donation of fundraiser.donations; let last = last" style="margin: 20px 0px">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <img src="https://www.gofundme.com/static/media/DefaultAvatar.4bb188e1d41df75419450a820a958679.svg" />
        <div fxLayout="column" fxLayoutAlign="center start">
          <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="30px">
            <span>
              <!--<span *ngIf="donation?.isAnonymous">{{"Anonymous"| translate}}</span> -->
              <span *ngIf="donation">{{
                donation?.userId?.firstName! + " " + donation?.userId?.lastName
                | titlecase
                }}</span>
              <strong>${{ donation.amount }}</strong></span>
            <span> {{ donation.date | timeago }} </span>
          </div>
          <p #comment>{{ donation.comment?.slice(0,20) }}
            <a #more *ngIf="comment?.textContent?.length! > 20"
              (click)="comment.textContent=donation?.comment!">...{{"more"| translate}}</a>
          </p>
        </div>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>