<div>
    <div
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="2px"
      style="margin-bottom: -15px"
    >
      <h2>
        <span class="bold"
          >{{ fundraiser?.totalRaised | currency }}
        </span>
        <sub class="text-small color-gray"
          >raised of
          {{ fundraiser?.goalAmount | currency }} goal</sub
        >
      </h2>
    </div>
    <mat-progress-bar color="primary" [value]="percentage">
    </mat-progress-bar>
    <div
      fxLayout="row"
      fxLayoutGap="30px"
      style="margin: 10px 0px"
    >
      <a fxLayout="column" href="">
        <span class="bold">{{
          fundraiser?.donations?.length
        }}</span>
        <mat-hint>donors</mat-hint>
      </a>

      <div fxLayout="column">
        <span class="bold">{{
          fundraiser?.totalShareCount
        }}</span>
        <mat-hint>shares</mat-hint>
      </div>
      <div fxLayout="column">
        <span class="bold">{{ fundraiser?.likeCount }}</span>
        <mat-hint>followers</mat-hint>
      </div>
    </div>
  </div>