.saving-type-info {
  background-color: #89cbfd;
  padding: 15px;
  border-radius: 4px;
}

mat-card-content.mat-card-content {
  margin-top: 20px auto;
}

mat-card.mat-card{
  width: 40%;
  margin: 30px auto;
}
form{
  margin-top: 20px !important;
}