<nav-bar></nav-bar>
<mat-card class="fundriser-form">
  <mat-card-header>
    <mat-card-title>Select withdrawal type </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>

  <mat-card-content>
    <form
      [formGroup]="form"
      fxLayout="column"
      fxLayoutAlign="start start"
      fxLayoutGap="10px"
    >
      <mat-form-field appearance="outline">
        <mat-label>Who will withdraw te money?</mat-label>
        <mat-select
          formControlName="withdrawer"
          [(ngModel)]="withdrawer"
          placeholder=""
        >
          <mat-option>Who will withdraw te money?</mat-option>
          <mat-option value="me"> Me </mat-option>
          <mat-option value="someone"> Someone else </mat-option>
        </mat-select>
        <mat-hint>Must be 18+ with valid ID.</mat-hint>
      </mat-form-field>
      <p></p>
      <mat-form-field appearance="outline">
        <mat-label
          >What type of saving_type withdrawal is right for you?</mat-label
        >
        <mat-select
          formControlName="saving_type"
          [(ngModel)]="saving_type"
          placeholder=""
        >
          <mat-option
            >What type of saving_type withdrawal is right for you?</mat-option
          >
          <mat-option value="personal"> Personal </mat-option>
          <mat-option value="company"> Company </mat-option>
          <mat-option value="partnership"> Partnership </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="saving_type" class="saving-type-info" fxLayout="row">
        <mat-icon
          *ngIf="saving_type !== ''"
          [ngStyle]="{ 'margin-right': '10px' }"
          >home</mat-icon
        >
        <p *ngIf="saving_type === 'personal'">
          Funds will be withdrawn to a personal bank account.
        </p>
        <p *ngIf="saving_type === 'company'">
          Funds will be withdrawn to an organization or business bank account.
          You must be an account representative for that business to withdraw
          funds and you may be asked for the company’s tax ID.
        </p>
        <p *ngIf="saving_type === 'partnership'">
          Funds will be withdrawn to an organization or business bank account
          that is identified as Partnership. You must be an account
          representative for that business to withdraw funds and you may be
          asked for the company’s tax ID.
        </p>
      </div>

      <mat-hint>
        If this is confusing, we want to understand what kind of bank account
        you are withdrawing to Read more here.
      </mat-hint>

      <mat-hint>
        Accounts can belong to a person or an organization (501(c)(3), business,
        trust, etc.) For organizations, the individual withdrawing must be a
        beneficial owner, someone with significant responsibility to control,
        manage, or direct the organization (e.g., a Chief Executive Officer,
        Vice President, Treasurer, or a controller).
      </mat-hint>
      <button mat-raised-button [fxFlexAlign]="'center'" class="btn-md" color="primary"
      (click)="openPersonalInfoForm()"
      >
        Next
      </button>
      <button mat-button [fxFlexAlign]="'center'">Do this later</button>
    </form>
  </mat-card-content>
</mat-card>
