<nav class="mat-elevation-z2">
  <nav-bar></nav-bar>
</nav >
<div>
  <div fxFlex.gt-xs="80" fxFlex.lt-xs="98" class="container">
    <div *ngIf="loading">
      <mat-progress-spinner mode="indeterminate" [value]="100" color="primary" class="loading-spinner">
      </mat-progress-spinner>
    </div>
    <p class="text-error">{{ errorMessage }}</p>
    <h2 *ngIf="searchedFundarisers.length === 0 && !loading">No matchs found</h2>
    <app-public-fund-list [fundraisers]="searchedFundarisers" [hasNext]="hasNext()" (nextEvent)="nextPage()">
    </app-public-fund-list>
  </div>
</div>