<div style="text-align: center; margin: 50px auto">
              <h3 style="font-weight: 600 !important">
                Your fundraiser has no donations yet.
              </h3>
              <h3>
                Donations will show up here. Start by sharing your fundraiser
                with friends and family.
              </h3>
              <button
                mat-raised-button
                color="primary"
                color="primary"
                (click)="openShareDialog()"
              >
                Share fundriser
              </button>
            </div>