<form [formGroup]="form">
  <mat-form-field appearance="outline" >
    <mat-label>{{"Title of your fundraiser"|translate}}</mat-label>
    <input autofocus matInput formControlName="title" [placeholder]="'Title of your fundraiser'|translate" type="text" required />

    <mat-error *ngIf="title?.touched && title?.errors?.required">{{"Title is required!"|translate}}</mat-error>
    <mat-error *ngIf="title?.touched && title?.errors?.minlength">{{"Title must be minimum letters!"|translate:{length:title?.errors?.minlength.requiredLength} }}</mat-error>
  </mat-form-field>

  <story-text-area [form]="form"></story-text-area>
  <mat-error *ngIf="story?.touched && story?.errors?.required">{{"Story is required!"|translate}}</mat-error>
  <mat-error *ngIf="story?.touched && story?.errors?.minlength">{{"Story should be letters minimum!"|translate:{length:story?.errors?.minlength.requiredLength} }}.</mat-error>

  <button [disabled]="!form.valid" mat-raised-button color="primary" (click)="nextStep()" class="btn-large">
    {{"Complete fundraiser"|translate}}
  </button>
</form>