<form [formGroup]="form">
  <mat-form-field appearance="outline">
    <mat-label>Title of your fundraiser </mat-label>
    <input
      matInput
      formControlName="title"
      placeholder="Title of your fundriser"
      type="text"
      required
    />
  </mat-form-field>

  <story-text-area [form]="form"></story-text-area>
  <mat-error *ngIf="title?.touched && title?.errors?.required"
    >Title is required.</mat-error
  >
  <mat-error *ngIf="title?.touched && title?.errors?.max"
    >TItle must be mximum {{ title?.errors?.max.max }} charaters.</mat-error
  >
  <mat-error *ngIf="story?.touched && story?.errors?.required"
    >Story is required.</mat-error
  >
  <mat-error *ngIf="story?.touched && story?.errors?.minlength"
    >Story should be {{ story?.errors?.minlength.requiredLength }} characters
    minimum.</mat-error
  >

  <button
    [disabled]="!form.valid"
    mat-raised-button
    color="primary"
    (click)="nextStep()"
    class="btn-large"
  >
    Complete fundraiser
  </button>
</form>
