<!-- <p mat-dialog-title> Share
<mat-icon mat-dialog-close >cancel</mat-icon>
</p> -->
<div fxLayout="column">
  <div fxLayout="column" fxLayoutGap="0px">
    <div
      mat-dialog-title
      fxLayout="row"
      fxLayoutAlign="space-between start"
      fxLayoutGap="30px"
    >
      <h2 class="bold" matDialogTitle>{{ type }} donations</h2>
      <div fxLayout="row" fxLayoutGap="20px">
        <button
          mat-stroked-button
          (click)="getDonations()"
          style="border-radius: 20px"
        >
          <mat-icon *ngIf="type === 'All'" class="mat-18">sort</mat-icon>
          {{ topButtonLabel }} <span fxHide.lt-md>donations</span>
        </button>
        <span mat-dialog-close class="close-dialog">
          <mat-icon class="mat-18">close</mat-icon>
        </span>
      </div>
    </div>
    <button
      mat-raised-button
      (click)="gotoDonatePage()"
      class="styled-button donate btn-large"
    >
      <mat-icon>attach_money</mat-icon> Donate now
    </button>
  </div>
  <mat-divider></mat-divider>
  <mat-list>
    <mat-list-item *ngFor="let donation of donations" style="margin: 20px 0px">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <img
          src="https://www.gofundme.com/static/media/DefaultAvatar.4bb188e1d41df75419450a820a958679.svg"
        />
        <div fxLayout="column" fxLayoutAlign="center start">
          <div
            fxLayout="row wrap"
            fxLayoutAlign="start start"
            fxLayoutGap="10px"
          >
            <span>{{ donation.userId.firstName | titlecase }}</span>
            <span>{{ donation.userId.lastName | titlecase }}</span>
          </div>
          <span>
            <strong>{{ donation.amount }} </strong> •{{
              donation.date | timeago
            }}
          </span>
        </div>
      </div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
