<div [ngStyle.gt-sm]="{ width: '80%', margin: '0px auto' }">
  <nav fxLayout="column" class="nav-sticky">
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="start start"
      style="width: 100%"
    >
      <h1 class="bold" fxFlexAlign="start start" style="margin-right: auto">
        Your funrisers
      </h1>
      <button (click)="createFundraiser()" mat-raised-button color="primary">
        Start a new fundraiser
      </button>
    </div>
  </nav>

  <div *ngIf="loading">
    <mat-progress-spinner
      mode="indeterminate"
      [value]="100"
      color="primary"
      class="loading-spinner"
    ></mat-progress-spinner>
  </div>

  <p class="text-error">{{ errorMessage }}</p>

  <div *ngIf="!loading">
    <p *ngIf="myFundraisers?.length === 0 && !errorMessage">
      You have no fundraisers yet
    </p>
    <mat-grid-list
      *ngIf="myFundraisers.length > 0"
      [responsiveColumns]="{ xs: 2, sm: 3, md: 3, lg: 6, xl: 8 }"
      [gutterSize]="'10px'"
    >
      <mat-grid-tile
        *ngFor="let fundraiser of myFundraisers"
        [colspan]="1"
        [rowspan]="1"
      >
        <mat-card
          [routerLink]="['/my-fundraiser-detail', fundraiser._id]"
          fxFlex.xs="98"
        >
          <div class="mat-image-container">
            <img [src]="fundraiser.image" />
          </div>
          <mat-card-content
            fxLayout="column"
            fxLayoutAlign="start start"
            [ngStyle.xs]="{ height: '130px' }"
          >
            <strong>{{ fundraiser.title }}</strong>
            <span
              *ngIf="(fundraiser?.donations)!.length > 0"
              class="color-gray text-small"
            >
              Last donation {{ (fundraiser?.donations)![0].date | timeago }}
            </span>
            <mat-progress-bar
              mode="determinate"
              [value]="percentage(fundraiser)"
              color="primary"
            ></mat-progress-bar>
            <p>
              <strong>{{ fundraiser.totalRaised }}</strong> raised of
              {{ fundraiser.goalAmount }}
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
