mat-card.mat-card {
  cursor: pointer;
  max-height: 350px !important;
  margin-bottom: 20px;
}

mat-card.mat-card:hover {
  -webkit-box-shadow: 0 0.14rem 0.1975rem 0.14rem rgb(160, 159, 159);
  box-shadow: 0 0.125rem 0.1975rem 0.125rem rgb(160, 159, 159);
  transform: scaleY(1.036);
}
mat-card.mat-card {
  -webkit-box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
  box-shadow: 0 2px 6px rgb(0 0 0 / 10%);
}


.items-row {
  flex-wrap: wrap;
}

.nav-sticky
{
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;

}
