<div [ngStyle.gt-sm]="{ width: '80%', margin: '0px auto' }">
  <nav fxLayout="column" class="nav-sticky">
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="start start"
      style="width: 100%"
    >
      <h1 class="bold" fxFlexAlign="start start" style="margin-right: auto">
        Your funrisers
      </h1>
      <button (click)="createFundraiser()" mat-raised-button color="primary">
        Start a new fundraiser
      </button>
    </div>
  </nav>

  <div *ngIf="loading">
    <mat-progress-spinner
      mode="indeterminate"
      [value]="100"
      color="primary"
      class="loading-spinner"
    ></mat-progress-spinner>
  </div>

  <p class="text-error">{{ errorMessage }}</p>

  <div *ngIf="!loading">
     <p *ngIf="myFundraisers?.length === 0 && !errorMessage">
    You have no fundraisers yet
  </p>

    <div
      fxLayout="row"
      fxLayoutGap="32px"
      fxLayoutAlign="start start"
      class="items-row"
      fxLayoutAlign.xs="center center"
    >
      <mat-card
        [routerLink]="['/my-fundraiser-detail', fundraiser._id]"
        *ngFor="let fundraiser of myFundraisers; let i = index"
        [ngStyle.sm]="{ 'margin-bottom': '30px' }"
        fxFlex="30"
        fxFlex.xs="40"
      >
        <div>
          <img
            matCardImage
            [src]="fundraiser.image"
            [ngStyle.xs]="{ width: '100%', height: '200px !important' }"
            [ngStyle.sm]="{ width: '100%', height: '200px' }"
          />
        </div>
        <mat-card-header>
          <mat-card-title> {{ fundraiser.title }} </mat-card-title>
          <mat-card-subtitle>{{ fundraiser.dateCreated }}</mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <p style="text-align: center">Manage</p>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
