<form [formGroup]="form" (ngSubmit)="editFundraiser()">
  <div
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="space-between center"
    fxLayoutGap="10px"
  >
    <mat-form-field appearance="outline">
      <mat-label>Title </mat-label>
      <input
        matInput
        formControlName="title"
        placeholder="Title of your campign"
        type="text"
      />
      <mat-error *ngIf="title?.touched && title?.errors?.required"
        >Title is required.</mat-error
      >
      <mat-error *ngIf="title?.touched && title?.errors?.max"
        >TItle must be maximum {{ title?.errors?.max.max }} charaters.</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> Goal </mat-label>
      <input
        matInput
        formControlName="goalAmount"
        placeholder="goal"
        type="number"
      />
      <mat-icon matPrefix>monetization_on</mat-icon>
      <mat-error *ngIf="goalAmount?.touched && goalAmount?.errors?.required">
        Fundraiser goal is required
      </mat-error>
      <mat-error *ngIf="goalAmount?.touched && goalAmount?.errors?.min">
        The minimun allowed goal is {{ goalAmount?.errors?.min.min | currency }}
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Choose category of your fundraiser</mat-label>
    <mat-select formControlName="category" [(value)]="fundraiser.category">
      <mat-option>Choose category</mat-option>
      <mat-option *ngFor="let category of categories" [value]="category">{{
        category.name
      }}</mat-option>
    </mat-select>
    <mat-error *ngIf="category?.touched && category?.errors?.required">
      Category is required
    </mat-error>
  </mat-form-field>

  <!-- <p class="bold">Campign link</p>
<mat-divider></mat-divider>
<h3>gofundme.com/f/sbdsbd</h3>
<p>
This link can only be changed once. Changing your link does not break your
previous link
</p>

<mat-form-field appearance="outline">
<mat-label> Campign link </mat-label>
<input
  matInput
  class="matInput"
  #link
  placeholder="goal"
  value="hfdjfhd"
  type="text"
/>
<mat-hint
  ><h5 class="bold">preview: www.gofundme.com/{{ link.value }}</h5>
</mat-hint>
<mat-sufix matSuffix> {{ 45 - link.value.length }} </mat-sufix>
</mat-form-field> -->

  <!-- TEAM SETTINGS -->
  <!-- <div class="setting">
<h2 class="bold">Team Settings</h2>
<p></p>
<mat-form-field appearance="outline">
  <mat-label> Team Name </mat-label>
  <input
    matInput
    class="matInput"
    #teamName
    placeholder="goal"
    value="hfdjfhd"
    type="text"
  />
  <mat-sufix matSuffix>
    {{ 45 - teamName.value.length }}
  </mat-sufix>
</mat-form-field>

<label for="show-amount"
  >Show the amount each team member has raised publicly
</label>
<mat-checkbox id="show-amount" value="" color="primary"></mat-checkbox>
<button class="delete-btn" mat-button>Delete Team</button>
</div>
-->
  <!-- FUNDRISER SETTINGS -->
  <!-- <div class="setting">
<h2 class="bold">Fundraiser Settings</h2>

<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
  <div style="width: 100%">
    <label for="allow-comment">
      Allow donors to leave comments on my fundraiser
    </label>
    <mat-checkbox id="allow-comment" value="" color="primary"></mat-checkbox>
    <mat-divider></mat-divider>
  </div>

  <div style="width: 100%">
    <label for="allow-donations"> Allow donations to my fundraiser </label>
    <mat-checkbox
      id="allow-donations"
      value=""
      color="primary"
    ></mat-checkbox>
    <mat-divider></mat-divider>
  </div>
  <div>
    <label for="allow-search">
      Allow my fundraiser to appear in search results
    </label>
    <mat-checkbox id="allow-search" value="" color="primary"></mat-checkbox>
    <div class="info-text">
      <span
        >Your fundraiser will appear in Legas search results and other
        online search engines. (If this is turned off, people will still be
        able to view your fundraiser if they have the link)</span
      >
    </div>
  </div>
</div> -->

  <div class="save">
    <button
      [disabled]="form.invalid || form.touched || loading"
      color="primary"
      mat-raised-button
      class="btn-large"
      style="width: 50% !important"
    >
      Save
    </button>
    <!-- </div> -->
  </div>
</form>

<div class="setting">
  <div>
    <h2 class="bold">Delete my fundraiser</h2>
    <div class="info-text">
      <span>
        You will no longer have access to this fundraiser after deleting. If you
        received donations, your donors will still be able to view a summary.
      </span>
    </div>
  </div>
  <button class="delete-btn bold" (click)="openDeleteDialog()" mat-button>
    Delete Fundraiser
  </button>
</div>
