<form [formGroup]="form" (ngSubmit)="editFundraiser()">
  <div
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="space-between center"
    fxLayoutGap="10px"
  >
    <mat-form-field appearance="outline">
      <mat-label>{{ "Title" | translate }}</mat-label>
      <input
        matInput
        formControlName="title"
        placeholder="Title of your campaign"
        type="text"
      />
      <mat-error *ngIf="title?.touched && title?.errors?.required">{{
        "Title is required!" | translate
      }}</mat-error>
      <mat-error *ngIf="title?.touched && title?.errors?.max">{{
        "Title must be maximum letters."
          | translate: { length: title?.errors?.max.max }
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> {{ "Goal" | translate }} </mat-label>
      <input
        matInput
        formControlName="goalAmount"
        placeholder="goal"
        type="number"
      />
      <!-- <mat-icon matPrefix>monetization_on</mat-icon> -->
      <span matSuffix>ETB</span>
      <mat-error *ngIf="goalAmount?.touched && goalAmount?.errors?.required">
        {{ "Fundraiser goal is required!" | translate }}
      </mat-error>
      <mat-error *ngIf="goalAmount?.touched && goalAmount?.errors?.min">
        {{
          "The minimum allowed goal is"
            | translate: { min: goalAmount?.errors?.min.min | currency }
        }}
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>{{ "Category of your fundraiser" | translate }}</mat-label>
    <mat-select
      formControlName="category"
      [compareWith]="compareObjects"
      [(value)]="fundraiser.category"
    >
      <mat-option>{{ "Choose category" | translate }}</mat-option>
      <mat-option *ngFor="let category of categories" [value]="category">{{
        category.name | translate
      }}</mat-option>
    </mat-select>
    <mat-error *ngIf="category?.touched && category?.errors?.required">
      {{ "Category is required!" | translate }}
    </mat-error>
  </mat-form-field>
  <div class="save">
    <button
      [disabled]="form.invalid || !form.touched || loading"
      color="primary"
      mat-raised-button
      class="btn-large"
      style="width: 50% !important"
    >
      {{ "Save" | translate }}
    </button>
    <!-- </div> -->
  </div>
</form>
<!-- TEAM SETTINGS -->
<div class="setting">
  <h2 class="bold">Team Settings</h2>
  <button class="delete-btn" mat-button (click)="deleteTeamMembers()">
    Delete Team
  </button>
</div>

<!-- FUNDRAISER SETTINGS -->
<div class="setting">
  <h2 class="bold">Fundraiser Settings</h2>
  <div style="width: 100%">
    <mat-slide-toggle
      (change)="onAllowDonationsChange($event)"
      color="primary"
      checked="fundraiser.isPublished"
    >
      Allow donations to my fundraiser
    </mat-slide-toggle>
    <!-- <mat-divider></mat-divider> -->
  </div>
</div>

<div class="setting">
  <div>
    <h2 class="bold">{{ "Delete my fundraiser" | translate }}</h2>
    <div class="info-text">
      <span>
        {{
          "You will no longer have access to this fundraiser after deleting. If you
        received donations, your donors will still be able to view a summary."
            | translate
        }}
      </span>
    </div>
  </div>
  <button class="delete-btn bold" (click)="openDeleteDialog()" mat-button>
    {{ "Delete Fundraiser" | translate }}
  </button>
</div>
