<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
  <!-- search field -->
  <div
    class="search-container"
    fxFlex.gt-xs="50"
    fxFlex.lt-sm="80"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="0px"
  >
    <input
      data-cy="search-field"
      id="search-field"
      matInput
      #key
      type="search"
      placeholder="Search users by email"
      (keyup.enter)="search(key.value)"
    />
    <span id="search-icon" matSuffix>
      <mat-icon class="mat-18" (click)="search(key.value)"
        >search</mat-icon
      ></span
    >
  </div>

  <div *ngIf="loading">
    <mat-progress-spinner
      mode="indeterminate"
      [value]="100"
      color="primary"
      class="loading-spinner"
    >
    </mat-progress-spinner>
  </div>
  
  <div *ngIf="!loading && user" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px" fxFlex.gt-xs="60" fxFlex.lt-sm="90" class="mat-elevation-z10 user-info">
      <div fxFlexAlign="end" *ngIf="user"> 
        <a *ngIf="!user?.isVerified" (click)="verify(user!)" mat-raised-button color="primary" >Verify</a>
        <a *ngIf="user?.isVerified" mat-raised-button color="primary" class="verified"><mat-icon class="mat-18">check</mat-icon> Verified</a>
      </div>
    <p><strong>First name:</strong> {{ user?.firstName | titlecase }}</p>
    <p><strong>Last name:</strong> {{ user?.lastName | titlecase }}</p>
    <p><strong>Email:</strong> {{ user?.email | titlecase }}</p>
    <p><strong>Phone:</strong> {{ user?.phoneNumber }}</p>
  </div>
</div>
