.user-info {
  padding: 20px;
  border-radius: 0.5rem;
  min-width: 50%;
}

.verified {
  cursor: default;
}

#search-icon {
  cursor: pointer;
}

.mat-raised-button.mat-button-base.mat-warn.ng-star-inserted {
  color: #fff;
  margin: 10px 0px;
}

mat-form-field.mat-form-field {
  max-width: 60%;
}
