<div class="tab-content">
  <h3 class="tab-content-header">You haven't sent any invites yet.</h3>
  <h3>
    Your invited contacts will show up here. Start by sending at least 20
    invites via email or text message
  </h3>
  <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
    <button mat-stroked-button
    (click)="openEmailInviteDialog()"
    color="primary">Invite via email</button>
    <button mat-stroked-button
    (click)="openPhoneInviteDialog()"
    color="primary">Invite via text</button>
  </div>
</div>
