a {
  color: black;
  text-align: left;
  text-decoration: underline;
}
mat-icon.mat-icon {
  height: 10px;
  width: 10px;
  font-size: 13px;
}

.tab-content {
  text-align: center;
  margin: 50px auto;
}

.more {
  cursor: pointer;
}

img.avatar{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}