<div>
  <div mat-dialog-title>
    <h4 matDialogTitle style="display: inline">Post an update</h4>
    <span mat-dialog-close class="close-dialog">X</span>
  </div>
  <mat-divider></mat-divider>
  <mat-dialog-content>
    <form [formGroup]="form">
      <mat-form-field appearance="outline">
        <textarea
          formControlName="content"
          matInput
          required
          placeholder="Share your news"
          [(ngModel)]="update.content"
        ></textarea>
      </mat-form-field>
      <!-- TODO -->
      <button
        color="primary"
        mat-stroked-button
        (click)="openAddPhotoOrVedioDialog()"
      >
        Add a photo or video
      </button>
      <h3 class="bold" style="margin: 10px -5px 0px">Send updates to</h3>
      <mat-divider></mat-divider>
      <div class="media">
        <p>
          <mat-checkbox
            formControlName="campign_page"
            value="here"
            color="primary"
            >Campign page(Default)</mat-checkbox
          >
        </p>
        <p>
          <mat-checkbox
            formControlName="donors_followers"
            value="donors & followers"
            color="primary"
            >Donors and Folowers</mat-checkbox
          >
        </p>

        <p>
          <mat-checkbox
            formControlName="facebook"
            value="facebook"
            color="primary"
            >Facebook</mat-checkbox
          >
        </p>
        <p>
          <mat-checkbox
            formControlName="twitter"
            value="twitter"
            color="primary"
            >Twitter</mat-checkbox
          >
        </p>
        <mat-divider></mat-divider>
      </div>
      <!-- TODO -->
      <button
        mat-raised-button
        [mat-dialog-close]="update"
        type="submit"
        color="primary"
        class="btn-large"
      >
        Post an update
      </button>
    </form>
  </mat-dialog-content>
</div>
