
<mat-card 
[ngStyle.xs]="{ width: '94%' }"
  [ngStyle.sm]="{ width: '70%' }"
  class="fundriser-form">
  <mat-card-content>
    <h4 class="progress-bar-sections-title heading-4">Step 1 of 4</h4>
    <div class="progress-bar-sections-wrap">
      <div
        class="
          progress-bar-sections-section progress-bar-sections-section--complete
        "
      ></div>
      <div
        class="
          progress-bar-sections-section progress-bar-sections-section--remaining
        "
      ></div>
      <div
        class="
          progress-bar-sections-section progress-bar-sections-section--remaining
        "
      ></div>
      <div
        class="
          progress-bar-sections-section progress-bar-sections-section--remaining
        "
      ></div>
    </div>
    <h2 class="bold">Let’s start with the basics</h2>
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Country </mat-label>
        <input
          matInput
          class="matInput"
          placeholder="Email address"
          type="email"
          email
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Postal Code </mat-label>
        <input
          matInput
          class="matInput"
          placeholder="Postal Code"
          type="email"
          email
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Choose Category</mat-label>
        <mat-select [(value)]="selected">
          <mat-option>Choose Category</mat-option>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>What is your fundriser title? </mat-label>
        <input
          matInput
          class="matInput"
          placeholder="What is your fundriser title?"
          type="email"
          email
        />
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        (click)="next()"
        class="btn-large"
      >
        Next
      </button>
    </form>
    <p>
      By continuing, you agree to the GoFundMe
      <a
        link
        routerLink="/terms"
        routerLinkActive="router-link-active"
        color="accent"
      >
        terms</a
      >
      and acknowledge receipt of our
      <a
        link
        routerLink="/privacy"
        routerLinkActive="router-link-active"
        color="accent"
      >
        privacy policy</a
      >.
    </p>
  </mat-card-content>
</mat-card>
<p class="footer-logo"></p>
