<div *ngIf="hasAcceptedTeamMembers()" fxLayout="column" fxLayoutGap="20px">
  <div>
    <h2 class="bold">
      {{ "Fundraising team" | translate }}
    </h2>
    <div>
      <mat-divider></mat-divider>
    </div>
  </div>
  <div>
    <div
      fxLayout="row"
      fxLayoutAlign="start start"
      fxLayoutGap="20px"
      style="width: fit-content"
    >
      <div class="avatar-contain">
        {{ fundraiser?.organizer?.firstName?.charAt(0) | titlecase }}
        {{ fundraiser?.organizer?.lastName?.charAt(0) | titlecase }}
      </div>
      <div fxLayout="column" style="width: fit-content">
        <span class="bold">
          {{
            fundraiser?.organizer?.firstName +
              " " +
              fundraiser?.organizer?.lastName | titlecase
          }}</span
        >
        <span>{{ "Organizer" | translate }}</span>

        <!-- TODO address of the organizer -->
        <!-- <span>Atlanta, GA</span> -->
      </div>
    </div>
  </div>
  <div>
    <mat-divider></mat-divider>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="30px">
    <div fxFlex="25" *ngFor="let member of fundraiser?.teams">
      <div
        *ngIf="
          member.status !== 'pending' &&
          member.id.userId._id! != fundraiser.organizer?._id!
        "
        fxLayout="row"
        fxLayoutGap="20px"
        style="margin: 20px 0px"
      >
        <div class="avatar-contain">
          {{ member.id.userId.firstName?.charAt(0) | titlecase }}
          {{ member.id.userId.lastName?.charAt(0) | titlecase }}
        </div>
        <div fxLayout="column">
          <span class="bold"
            >{{
              member.id.userId.firstName + " " + member.id.userId.lastName
                | titlecase
            }}
          </span>
          <span class="text-small">{{ "team member" | translate }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
