<nav class="mat-elevation-z2">
  <nav-bar></nav-bar>
</nav>
<main fxLayout="column">
  <mat-card
    [ngStyle.xs]="{ width: '90%' }"
    [ngStyle.sm]="{ width: '70%' }"
    class="fundraiser-form"
  >
    <mat-card-content>
      <h4 class="progress-bar-sections-title heading-4">
        Step {{ currentStep }} of 3
      </h4>
      <div class="progress-bar-sections-wrap">
        <div
          *ngFor="let item of numSequence(currentStep)"
          class="
            progress-bar-sections-section
            progress-bar-sections-section--complete
          "
        ></div>
        <div
          *ngFor="let item of numSequence(3 - currentStep)"
          class="
            progress-bar-sections-section
            progress-bar-sections-section--remaining
          "
        ></div>
      </div>
      <h2 class="bold">
        {{
          (currentStep === 1
            ? "Let’s start with the basics"
            : currentStep === 2
            ? "Set fundraiser media"
            : "Set fundraiser story"
          ) | translate
        }}
      </h2>
      <form>
        <span [ngSwitch]="currentStep">
          <set-basic-info
            [fundraiser]="fundraiser"
            *ngSwitchCase="1"
            (next)="next($event)"
          ></set-basic-info>
          <set-fundraiser-media
            *ngSwitchCase="2"
            [fundraiser]="fundraiser"
            (next)="next($event)"
          ></set-fundraiser-media>
          <set-fundraiser-story
            *ngSwitchCase="3"
            [fundraiser]="fundraiser"
            (next)="submit($event)"
          ></set-fundraiser-story>
          <p *ngSwitchDefault></p>
        </span>

        <mat-error *ngIf="errorMessage"> {{ errorMessage }}</mat-error>

        
        <button
          *ngIf="currentStep !== 1"
          mat-stroked-button
          class="btn-large"
          (click)="previousStep()"
        >
          {{ "Back" | translate }}
        </button>
      </form>
      <p *ngIf="currentStep === 1">
        {{
          "By continuing, you agree to the Legas"
            | translate: { terms: terms.innerHTML }
        }}
        <a
          link
          #terms
          hidden
          routerLink="/terms"
          color="accent"
          class="bold"
        >
          {{ "terms" | translate }}</a
        >
        {{
          "and acknowledge receipt of our"
            | translate: { privacy_policy: privacy_policy.innerHTML }
        }}
        <a
          hidden
          link
          #privacy_policy
          routerLink="/privacy"
          color="accent"
        >
          {{ "privacy policy" | translate }}</a
        >
      </p>
    </mat-card-content>
  </mat-card>
  <p class="footer-logo"></p>
</main>
