<mat-card>
    <mat-card-header fxFlexAlign="center">
        <mat-card-title> {{ mode==='edit'?'Edit help':'Add new help' }} </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="complete()">
            <mat-form-field appearance="outline">
                <mat-label>Type of your help</mat-label>
                <mat-select placeholder="Type of help" [(value)]="selected_help" formControlName="category">
                    <mat-option *ngFor="let type of help_types" [value]="type">
                        {{type| titlecase}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="category?.touched && category?.errors?.required">Help type is required.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Title of your help</mat-label>
                <input matInput formControlName="title" placeholder="Title of your help" type="text" required />

                <mat-error *ngIf="title?.touched && title?.errors?.required">Title is required.</mat-error>
                <mat-error *ngIf="title?.touched && title?.errors?.minlength">Content should be {{
                    title?.errors?.minlength.requiredLength }} letters
                    minimum.</mat-error>
            </mat-form-field>

            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
            </ngx-editor-menu>
            <ngx-editor [placeholder]="'Enter content here...'" [editor]="editor" formControlName="content">
            </ngx-editor>
            <mat-error *ngIf="content?.touched && content?.errors?.required">Content is required.</mat-error>
            <mat-error *ngIf="content?.touched && content?.errors?.minlength">Content should be {{
                content?.errors?.minlength.requiredLength }} letters
                minimum.</mat-error>

            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="0px">
                <button [disabled]="form.invalid && form.touched" mat-raised-button type="submit" color="primary">
                    Complete
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>